*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	transition: all 1s ease-in;
}

body {
	box-sizing: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;

}

  a {
	text-decoration: none;
	color: unset;
}

ul{
	list-style: none;
}