*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;
}

.btn {
	color: black;
	text-decoration: none;
}

:root {
	--main-width: 90vw;
	--color-primary-red: #a20a0a;
	--color-primary-darkRed: #4c0505;
	--color-primary-orange: #c5704a;
	--color-primary-yellow: #f6eec9;
	--color-primary-green: #799351;
	--bg-color-orange: #f07c4d;
	--bg-color-darkRed: #8d2e21;
	--primary-shadow-up: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.4);
	--primary-shadow-down: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}