*,*:after,
*:before{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: inherit;
}


.btn{
    color: black;
    text-decoration: none;
}


/* ----------------------------------- */

.header{
    width: 100vw;
    position: relative;
}

.header__bg{
    width: 100vw;
    height: 20rem;
    background-image: linear-gradient(250deg, #c5704a, #7a2e1f );
    clip-path: url(#path);
    position: relative;
    top: -35rem;
    box-shadow: 1rem -5rem 1rem black;
}

.header__container{
    position: relative;
    z-index:2;
    top: 0;
    left:10rem;
    width: 50vw;
    display: flex;
}

.nav__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0 0 2rem;
    margin-top: 4rem;
}


.header__form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-bar{
    background-color: #db9e6c;
    border-radius: .9rem;
    padding: .6rem 1rem;
}

.barra-busqueda{
    border: none;
    background-color: transparent;
    font-family: "arimo";
    font-size: 1.4rem;
}

.btn--search{
    background-color: transparent;
    border: none;
}

.login{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.nav-bar{
    background-color: #4c0505;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
    padding: 1rem 0;
}
 


.list--header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.item--header:not(:last-child){
    border-right: .4rem solid burlywood ;
    border-radius: .2rem;
}

.item--header:nth-child(4){
    padding: 1rem 1rem 1rem .5rem;
}



.btn--header{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1;
    width: 90%;
    color:#f6efca;
    transition: color .2s, background-color;
}



.btn--header:last-child{
    margin-left: 1rem;
}


.btn--header:hover{
    color:#a20a0a;
    background-color:#f6efca;
}


.img__logo{
    width: 44.5rem;
}


.hero-slider{
    width: 100vw;
    height: 85vh;
    margin-top: -41rem;
}

.img--slider{
    width: 100%;
    height: 100%;
}

/* Mobile 320 */

 .img__logo{
     display: none;
 }

 /* LO COMENTE YO MATI PARA QUE ME APAREZCA EL NAV A MI */
/*  .nav-bar{
     display: none;
 } */


.login{
     display: none;
 }
.header{
     /* position: fixed; */
     bottom: 90vh;
     left: 0;
     width:100vw;
     height: 20vh;
     justify-content: flex-end;
}

 .header__bg{
     background-image:linear-gradient(
        125deg, 
        #f07c4d,#8d2e21); 
     width: 100vw;
     height: 10vh;
     
 }
 .img--slider{
     display: none;
 }
 .search-bar{
     justify-content: flex-end;
 }
 .barra-busqueda{
     justify-content: flex-end;
     align-items: flex-end;
     align-content: flex-end;
 } 
