/*-------------------- Mobile 320  ---------------*/

/* ----------- INICIO HEADER ------------------- */
.img__logo {
	display: none;
}

.link--logo {
	display: none;
}

.img--slider {
	display: none;
}

.header--svg {
	display: none;
}

.header {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 5rem;
	background-image: linear-gradient(
		125deg,
		var(--bg-color-orange),
		var(--bg-color-darkRed)
	);
	box-shadow: var(--primary-shadow-down);
	display: flex;
	z-index: 10;
}

.header__bg {
	display: none;
}

.header__container {
	width: 90vw;
	margin: 0 auto;
	position: relative;
	top: -3rem;
	left: 0;
	display: flex;
	align-items: center;
}

.hamburguer {
	display: inline-block;
	cursor: pointer;
	width: 5rem;
	animation: pulse 2s infinite;
}

.nav__container {
	width: 70vw;
}

.header__form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn--search {
	padding: 0.5rem 0.8rem;
	background-color: var(--color-primary-red);
	border-radius: 50%;
	font-size: 1.5rem;
	color: var(--color-primary-yellow);
	box-shadow: var(--primary-shadow--up);
}

.barra-busqueda {
	display: none;
}

.login {
	width: 35%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.link--message,
.link--kart {
	background-color: var(--color-primary-red);
	color: var(--color-primary-yellow);
	padding: 0.5rem 0.8rem;
	border-radius: 50%;
	font-size: 1.5rem;
	box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.fa-shopping-cart {
	margin-left: -0.2rem;
}

.btn--logeoRegistro {
	display: none;
}

.btn--logeoRegistro__mobile {
	display: inline-block;
	position: relative;
	top: -7.5rem;
	left: 4rem;
	z-index: 11;
	background-color: var(--color-primary-red);
	color: var(--color-primary-yellow);
	border-radius: 1rem;
	font-family: lobster;
	font-size: 1.6rem;
}

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.288);
	transform: translateX(100%);
	transition: all 0.3s;
	overflow: hidden;
}

.nav-bar--desktop {
	display: none;
}

#barra:target {
	transform: translateX(0%);
}

.list--header {
	position: relative;
	z-index: 1;
	display: block;
	width: 55vw;
	height: 100%;
	background-color: var(--color-primary-darkRed);
	padding-top: 2rem;
}

.item--header:not(:last-child) {
	margin-bottom: 2rem;
	border-bottom: 0.2rem solid var(--color-primary-yellow);
}

.btn--header {
	color: var(--color-primary-yellow);
	width: 50vw;
	padding: 0 0 1rem 2rem;
	font-size: 1.8rem;
	text-align: center;
	font-family: lobster;
}

.btn--cross {
	position: relative;
	top: -6.9rem;
	left: 2rem;
	z-index: 11;
	padding: 0.5rem 0.8rem;
	font-size: 2rem;
	background-color: var(--color-primary-red);
	border-radius: 50%;
	cursor: pointer;
}