*,*:after,
*:before{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: inherit;
}


.btn{
    color: black;
    text-decoration: none;
}


/* ----------------------------------- */

.header{
    width: 100vw;
    height: 20rem;
    background-image: url(/img/header_fondo\ copy.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    background-position-y:-4.5rem;
}

.header__container{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.nav__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0 0 2rem;
}


.header__form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-bar{
    background-color: #db9e6c;
    border-radius: .9rem;
    padding: .6rem 1rem;
}

.barra-busqueda{
    border: none;
    background-color: transparent;
    font-family: "arimo";
    font-size: 1.4rem;
}

.btn--search{
    background-color: transparent;
    border: none;
}

.login{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.nav-bar{
    background-color: #4c0505;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
    padding: 1rem 0;
}



.list--header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.item--header:not(:last-child){
    border-right: .4rem solid burlywood ;
    border-radius: .2rem;
}

.item--header:nth-child(4){
    padding: 1rem 1rem 1rem .5rem;
}



.btn--header{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1;
    width: 90%;
    color:#f6efca;
    transition: color .2s;
}



.btn--header:last-child{
    margin-left: 1rem;
}


.btn--header:hover{
    color:#a20a0a;
}


.img__logo{
    width: 44.5rem;
}