*,*:after,
*:before{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;

}


.btn{
    color: black;
    text-decoration: none;
}

:root{
--main-width: 90vw;
--color-primary-red: #a20a0a;
--color-primary-darkRed: #4c0505;
--color-primary-orange: #c5704a;
--color-primary-yellow: #f6eec9;
--color-primary-green: #799351;
--bg-color-orange:#f07c4d;
--bg-color-darkRed: #8d2e21;
--primary-shadow-up: 0 -.2rem .5rem rgba(0, 0, 0, 0.4);
--primary-shadow-down: 0 .3rem .5rem rgba(0, 0, 0, 0.4);

}


/* 

---------------- ANIMACIONES

*/

@keyframes pulse{
    0%{
        transform: scale(.9);
    }

    70%{
        transform: scale(1);

    }
    100%{
        transform: scale(.9);
    } 
}



/* 

----------------FIN ANIMACIONES

*/


/*-------------------- Mobile 320  ---------------*/



/* ----------- INICIO HEADER ------------------- */
.img__logo{
    display: none;
}


.link--logo{
   display: none;
}

.img--slider{
    display: none;
}

.header--svg{
    display: none;
}

.header{
     position: fixed;
     bottom: 0;
     left: 0;
     width:100vw;
     height: 5rem;
     background-image:linear-gradient(
        125deg, var(--bg-color-orange), var(--bg-color-darkRed));
     box-shadow:var(--primary-shadow-down);
     display: flex;
     z-index: 10;

}


 .header__bg{
   display: none;
 }


 .header__container{
     width: 90vw;
     margin: 0 auto;
     position: relative;
     top: -3rem;
     left: 0;
     display: flex;
     align-items: center;
 }

 .hamburguer{
     display: inline-block;
     cursor: pointer;
     width: 5rem;
     animation: pulse 2s infinite;
 }


.nav__container{
    width: 70vw;
}

.header__form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn--search{
    padding: .5rem .8rem;
    background-color: var(--color-primary-red);
    border-radius: 50%;
    font-size: 1.5rem;
    color:var(--color-primary-yellow);
    box-shadow: var(--primary-shadow--up)
}



.barra-busqueda{
    display: none;
}

.login{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

}

.link--message,
.link--kart {
    background-color: var(--color-primary-red);
    color:var(--color-primary-yellow);
    padding: .5rem .8rem;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.4);
}

.fa-shopping-cart{
    margin-left: -.2rem;
}

.btn--logeoRegistro{
    display: none;
}

.btn--logeoRegistro__mobile{
    display: inline-block;
    position: relative;
    top: -7.5rem;
    left: 4rem;
    z-index: 11;
    background-color: var(--color-primary-red);
    color: var(--color-primary-yellow);
    border-radius: 1rem;
    font-family: lobster;
    font-size: 1.6rem;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    transform:translateX(100%);
    transition: all .3s;
    overflow: hidden;
}

.nav-bar--desktop{
    display: none;
}

#barra:target{
    transform: translateX(0%);
}

.list--header{
    position: relative;
    z-index: 1;
    display: block;
    width: 55vw;
    height: 100%;
    background-color: var(--color-primary-darkRed);
    padding-top: 2rem;
}



.item--header:not(:last-child){
    margin-bottom: 2rem;
    border-bottom: .2rem solid var(--color-primary-yellow);
}

.btn--header{
    color: var(--color-primary-yellow);
    width: 50vw;
    padding:0 0 1rem 2rem;
    font-size: 1.8rem;
    text-align:center;
    font-family: lobster;
}

.btn--cross{
    position: relative;
    top: -6.9rem;
    left: 2rem;
    z-index: 11;
    padding: .5rem .8rem;
    font-size: 2rem;
    background-color: var(--color-primary-red);
    border-radius: 50%;
    cursor: pointer;
}



/* 

/////////////////////// INICIO CARRITO

*/
.carrito-mobile{
    display: block;
    width:100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: all .2s;
}

.back{
    display:block;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;

}

.carrito-container{
    display: block;
    width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.title-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: chocolate;
    padding: .5rem 1.5rem .5rem 1rem;
    border-radius: 1.5rem 1.5rem 0 0;
}



.carrito-link{
    display: inline-block;
    background-color: crimson;
    font-size: 2rem;
    padding: .1rem .5rem;
    border-radius: 50%;
}

.carrito-content{
    width: 100%;
    background-color: var(--color-primary-yellow);
}

.carrito--list{
    width: 100%;
    padding: 1rem 0 1rem 1rem;
}

.carrito-subTotal{
    width: 100%;
    background-color: var(--color-primary-darkRed);
    color: var(--color-primary-yellow);
    border-radius: 0 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem 2rem;
}

.carrito-text,
.carrito-value{
    margin: unset;
    font-weight: unset;
    font-size: unset;
    display: inline-block;
    width: 100%;
}

.carrito-text{
    font-family: arimo;
    font-size: 1.8rem;
}

.carrito-value{
    font-size: 2.5rem;
}

.carrito--item{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn--expand:after{
    content: "";
    display: block;
    width: 5rem;
    height: .5rem;
    background-color: var(--color-primary-darkRed);
    position: relative;
    right: 3rem;
    bottom: -.5rem;
}

.btn--carrito{
    display: inline-block;
    padding: .5rem 1rem;
    color: var(--color-primary-darkRed);
    font-size: 2rem;
}

#carrito:target{
    transform: translateX(0);
}

.btn--expand{
    width: 10%;
    display: inline-block;
    text-align: center;
    color: var(--color-primary-yellow);
    background-color: var(--color-primary-orange);
    padding: .5rem;
}


.carrito--row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.carrito-extended{
    display: inline-block;
    width: 100%;
    background-color: var(--color-primary-darkRed);
    display: flex;
    flex-direction: column;
    padding:0;
    border-radius: 1rem 0 0 1rem;
}

.extended--img{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img--carrito{
    width: 30%;
}

.extended--text{
    display: block;
    padding: 1rem;
}

.carrito--description{
    display: block;
    margin: unset;
    font-weight: unset;
    font-size: unset;
    color:var(--color-primary-yellow);
}

/* #extended:target .carrito-extended{
    width: 100%;
    display: inline-block;
} */

/* 

/////////////////////// FIN CARRITO

*/

@media screen and (min-width: 768px){
    
    .login{
        width: 20%;
    }

    
    .login a {
    padding: .5rem .8rem;
    font-size: 2rem;
    
    }
    .hamburguer{
        
        width: 7rem;
        margin-right: 2rem;
        animation: pulse 2s infinite;
    }

    .btn--cross{

        left: 4.8rem;
        top: -7.5rem;
        font-size: 2.5rem;
        padding: .5rem .9rem;

    }

    .btn--logeoRegistro__mobile{

        top: -8.3rem;
        left: 8rem;
        font-size: 1.8rem;
    }


    .search-bar{
        display: flex;
        background-color: var(--color-primary-darkRed);
        border-radius: 1rem;
    }

    .barra-busqueda{
        display: block;
        background-color: transparent;
        padding: 0 1rem;
        border: none;
        outline: none;
        font-size: 1.6rem;
        color: var(--color-primary-yellow);
        font-family: arimo;

    }

    .barra-busqueda::placeholder{
        color: var(--color-primary-yellow);
    }

    .btn--search{
        padding: .8rem 1rem;
        background-color: transparent;
    }
    
    .list--header{
        width: 50vw;
    }
    
    .item--header:not(:last-child){
        margin-bottom: 1rem;
    }

    .btn--header{
        width: 45vw;
        font-size: 1.5rem;
    }
    .bat-categoria{
        height: 400px !important; 
        margin-bottom: 10px;
        position: relative;
        top: -207px;
    }
    .img-bateria{
        background-position: 25%;
    }
    .img-guitarra{
        background-position: 25%;
    }
    .img-viento{
        background-position: 25% 64%;
    }
    
}

@media screen and (min-width: 1200px){
    .nav-bar{
        display: none;
    }

    .hamburguer{
        display: none;
    }
    
    .btn--logeoRegistro__mobile{

      display: none;
    }

   .header{
       position: relative;
       width:100vw;
       height: unset;
       bottom: unset;
       left: 0;
       top: 0;
        background-image: none;
        background-image: url(/img/fondos/header_fondo\ copy.svg);
        background-repeat: no-repeat;
        box-shadow: unset;
   }

/*    .header__bg{
     display: block;
    width: 100vw;
    height: 20rem;
    background-image: linear-gradient(250deg, #c5704a, #7a2e1f );
    clip-path: url(#path);
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 1rem -5rem 1rem black;
    display: block;
    width: 100%;
    position: relative;  
    display: block;
    width: 100vw;
    position: relative;
    left: -100rem;
    top: -1rem;
    z-index: -1;
   } */



   .header__container{
       margin: 6rem auto 0 auto;
       width: 80vw;
       position: relative;
       display: flex;
       align-items: unset;
       z-index: 2;
   }

   .link--logo{
       display: block;
       width: 44vw;
   }

   .header__logo{
       display: block;
       width: 100%;
       height: 100%;
   }

   .nav__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0 0 2rem;
    margin-top: 4rem;
   }

   .nav-bar--desktop{
       display: block;
       background-color: var(--color-primary-darkRed);
       border-radius: 1.5rem;
       margin-top: 1.5rem;
       padding: 1rem 0;
   }

   .list--header__desktop{
    display: flex;
    align-items: center;
   }

   .item--header{
       border-bottom: none;
   }

   .item--header:not(:last-child){
    margin-bottom: 0;
    border-bottom: none;
    border-right: .4rem solid burlywood ;
    border-radius: .2rem;
}

.item--header{
    padding: 0rem 1rem;
}



.btn--header__desktop{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1;
    color:#f6efca;
    transition: color .3s;
    font-family: lobster;
}

.btn--header__desktop:hover{
    color: var(--color-primary-darkRed);
    background-color: var(--color-primary-orange);
    text-decoration: none;
}



.btn--header__desktoplast-child{
    margin-left: 1rem;
}

.btn--logeoRegistro{
    display: block;
    background-color: var(--color-primary-red);
    color: var(--color-primary-yellow);
    font-size: 1.6rem;
    font-family: lobster;
    border-radius: 1rem;
    transition: all .2s;
    box-shadow: var(--primary-shadow-down);
}

.link--kart,
.link--message{
    transition: all .2s;
}


.btn--logeoRegistro:hover,
.link--message:hover,
.link--kart:hover{
    color: var(--color-primary-yellow);
    text-decoration: none;
    transform: scale(1.1);
    background-color: var(--color-primary-darkRed);
}

.btn--logeoRegistro:active,
.link--message:active,
.link--kart:active{
    transform: scale(1);

}


.login{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 2rem;
}
  
.home--container{
    overflow-x: hidden;
    width: 100vw;
}

}


/* ----------- FIN HEADER ------------------- */



/* ------------ INICIO MAIN --------------------*/
.home--container{
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:   linear-gradient(#f6eec95b,#f6eec96b),url(/img/fondos/texturas_19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* .slider{
    width: 100vw;
    height: 25vh;
    background-color: crimson;
    margin-bottom: 4rem;
}
 */

 .home__main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 0 4rem 0;
    overflow-x: hidden ;
}





/* 

///////////////// INICIO SLIDER

*/

.slider--img{
    height: 20rem;
    border: none;
    outline: none;
}



/* 

///////////////// FIN SLIDER

*/


/* 

///////////////// INICIO KITS

*/
.kits{
    padding: 4rem 0;
    width: 100vw;

}

.kits--title{
    text-align: center;
    color: var(--color-primary-red);
    margin-bottom: 2rem;
    font-family: lobster;
}

.kits--sub-title{
    font-size: 2.5rem;
}

.kits--logo{
    width: 5rem;
    position: absolute;
    top: 0;
    right: -2rem;
}


.kits--slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

.slide {
    flex-shrink: 0;
    display: flex;
    padding: 2rem 0;
}


.article--sub-title{
    font-family: "arimo";
    font-size: 1.5rem;
}

.article-container{
    position: relative;
    margin-right: 2.5rem;
    width: 20rem;
    padding: 1rem 1rem 1rem 0;
}

.article--card{
    background-color: var(--color-primary-yellow);
    border-radius: 3rem;
    margin-right: 2.5rem;
    padding: 1.5rem;

}

.article--content{
    display: flex;
    justify-content: space-between;
    border-radius: 3rem;
    padding: 0 2rem;
}

.article--text{
    margin-top: 2rem;
}


.description{
   background-color: var(--color-primary-yellow);
   border-radius: 3rem;
   box-shadow: var(--primary-shadow-down);
}

.article--figure{
    width: 10rem;
    position: relative;
    top: -2.5rem;
    right: -2rem;
    z-index: 1;
}

.article--img{
    width: 100%;
    height: 100%;
}


.article--valor{
    margin-top: -.8rem;
    font-size: 2rem;
}


.article--btn{
    display: inline-block;
    padding: .5rem 4rem;
    border-radius: 1.5rem;
    background-color: var(--color-primary-darkRed);
    font-size: 2rem;
    position: relative;
    top: -1.5rem;
    left: 5rem;
    z-index: 1;
    box-shadow: var(--primary-shadow-down);
}


/* 

///////////////// FIN KITS

*/



/* 

///////////////// INICIO CATEGORIAS

*/

.categorias{
    margin: 6rem 0;
}

h3{
    margin: -19px 0px 0px -21px;
    font-weight: bolder;
    font-size: 20px;
}
p{
    margin: 26px 0px 0px -15px;
    font-weight: bolder;
    font-size: 12px;
}
.tarjeta-categoria{

    width: 100%;
    border-radius: 25px;
    height: 100%;
    background-size: cover;
    font-family:  "arimo", "lobster" ;
}
.img-guitarra{
    background-image: url("/img/bg-images/bg-guitarra.jpg"); 
}
.img-piano{
    background-image: url("/img/bg-images/bg-piano.jpg");
}
.img-bateria{
    background-image: url("/img/bg-images/bg-bateria.jpg");
}
.img-viento{
    background-image: url("/img/bg-images/bg-saxo.jpg");
    background-position: 25% 64%;
}
.img-ampli{
    background-image: url("/img/bg-images/bg-ampli.jpg");
}
.transparencia{
width: 50%;
height: 100%;
border-radius: 25px 0px 0px 25px;
color: white;
padding: 30px;
}
.transp-guitarra{
    background-color: rgba(230, 121, 89 , .5);
}
.transp-piano{
    background-color: rgba(185, 206, 162 , .5);
}
.transp-bateria{
    background-color: rgba(134, 149, 19, .5);
}
.transp-viento{
    background-color: rgba(172, 182, 147, .5);
}
.transp-ampli{
    background-color: rgba(181, 152, 119, .5);
}
.transparencia h3 p{
color: white;
}

.foto{
     height: 100%;
     width: 100%;
     border-radius: 25px;
     
}
.col-12{
    border-radius: 25px;
}
/* .container{
    width: 100%;
    margin: unset;
    padding: unset;
}

.row{
    margin: unset;
    width: 80vw;
    margin: 0 auto;
} */


/* 

///////////////// FIN CATEGORIAS

*/