*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px;
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
  overflow-x: hidden;
}

main{
  height: 100vh;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #f6eec9;
}




/* FOOTER */

.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  background-image: url("/img/footer_fondo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 470px; 
  overflow: hidden;
}



footer .nav__footer{
  margin-top: 12rem;
}

/* EXTRAIDO DEL OTRO CSS  */




/* .nav-bar{
  background-color: #4c0505;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem 0;
} */



/* .list--header{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */


/* .item--header:not(:last-child){
  border-right: .4rem solid burlywood ;
  border-radius: .2rem;
}

.item--header:nth-child(4){
  padding: 1rem 1rem 1rem .5rem;
} */



/* .btn--header{
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1;
  width: 90%;
  color:#f6efca;
  transition: color .2s, background-color;
}



.btn--header:last-child{
  margin-left: 1rem;
} */

/* EXTRAIDO DEL OTRO CSS */



.logo-footer{
  display: inline-block;
  width: 44.5rem;
  margin-top: 6rem;
}

 .logo-footer img{
  width: 100%;
}

/* FOOTER-CONTAINER */

.footer{
 /*  display: flex; */
 display: none;
  flex-direction: column;
  align-items: center;
}

.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  align-self: flex-end;
  margin-right: 20rem;
}

.container-arriba{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  color: #f6eec9;
  position: relative;
  bottom: 40px;
}

.medios-de-pago{
  position: relative;
  right: 10px;
  
}

.medios-texto{
  position: relative;
}

.medios-texto::after{
  content: '';
  background-color: #f6eec9;
  width: 100%;
  height: 6px;
  border-radius: 20px;
  position: absolute;  
  top: 45px;
  left: 0;
}

.container-arriba .iconos{
  font-size: 4rem;
  display:flex ;
  align-items: flex-start;
  position: relative;
  right: 80px;
  bottom: 13px;
}

.container-arriba .iconos i{
  padding: 20px;
}

.container-arriba .iconos img{
  position: relative;
  bottom: 13px;
}


.container-abajo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #f6eec9;
  position: relative;
  bottom: 40px;
}

.contacto{
  background-color: #4c0505;
  height: 35px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  border-radius: 30px;
  position: relative;
  right: 10px;
}

.contacto p{
  position: relative;
  top: 3px;
  padding: 5px ; 
}

.contacto i{
  padding: 15px;

}

  

.redes{
  background-color: #4c0505;
  height: 35px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  border-radius: 30px;
  position: relative;
  left: 70px; 
}

.redes p{
  position: relative;
  top: 3px;
  padding: 5px ;
  padding-right: 50px;
}

.redes i{
  padding: 10px;
}



.footer-text{
  align-self: flex-start;  
  display: inline;
  font-family: 'Arimo', sans-serif;
  color: #f6eec9;
  font-size: 2rem;
  position: relative;
  left: 80px;
}

.footer-text::after{
  content: '';
  background-color: #f6eec9;
  width: 700%;
  height: 5px;
  position: absolute;  
  top: -22px;
  left: -90px;
}




