*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px;
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
  overflow-x: hidden;
}

main{
  height: 100vh;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #f6eec9;
}




/* FOOTER */


/* ----------------------------------------------- */

 /* MOBILE 320 */

 .home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

footer{
  background: linear-gradient(0.40turn, #4c0505, #f6eec9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  color: #f6eec9;
}
 

.container .nav__container .nav__footer{
  display: none
} 

.row{
  margin-bottom: 80px;
}

.logo-footer{
  width: 22rem;
  margin-top: 3rem;
  margin-left: 5rem;
}


/* .footer__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  color: #f6eec9;
 
  height: 350px;
} */

.container-arriba{
  display: flex;
  flex-direction: column;

}

.container-arriba::after{
  content: '';
  background-color: #f6eec9;
  width:100%; 
  height: 5px;
  border-radius:50px;
  position: relative; 
  bottom: 170px;
}


.medios-texto{
  display: flex;
 justify-content: center;
 font-size: 2.2rem;
 text-decoration: 5px solid #f6eec9;;
}

 .medios-texto::after{
  content: '';
  background-color: #f6eec9;
  width: 130px; 
  height: 3px;
  border-radius:50px;
  position: absolute; 
  margin-top: 34px;
}
 
.iconos{
  display: inline-flex;
  justify-content: center;
  font-size: 3rem;
  height: 50px;
}

.iconos i{
  padding: 15px;
  
}

.iconos img{
  margin-left: 5px;
  margin-top: 7px;
  width: 110px;
  height: 50px;
}

.container-abajo{
 
}

.redes{
  background-color: #4c0505;
  border-radius: 30px;
  display: flex;
  margin: 0 30px;
  padding: 0px;
  height: 20px;
}

.redes-text{
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  text-align: flex-end;
  flex-grow: 1;
  margin-left: 10px;
}

.redes i{
  padding: 2px;
  font-size: 15px;
  margin-right: 5px;
}


.contacto{
  background-color: #4c0505;
  border-radius: 30px;
  display: flex;
  font-size: 10px;
  margin: 20px 100px;
  height: 25px;
  margin-bottom: 120px;
}

.contactanos-text{
  display: flex;
  justify-content: flex-start;
  text-align: flex-end;
  flex-grow: 1;
  margin-left: 15px;
  margin-top: 5px;
}

.contacto i{
  padding: 2px;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 3px;
}

.footer-text{
  display: none;
}


/* .iconos img{
  width: 100px;
  position: relative;
  bottom: 10px;
  left: 40px;
}
 */
 


/* .medios-de-pago{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 60px;
  font-size: 2.2rem;
  color: #f6eec9
}

.medios-texto::after{
 
  content: '';
  background-color: #f6eec9;
  width: 130px;
  height: 3px;
  border-radius:50px;
  position: absolute;  
  top: 33px;
  left: 94px;
 
}

.container-arriba{
  display: flex;
  flex-direction: column;
  height: 40px;
}

.iconos{
  position: relative;
  bottom: 55px;
  height: 30px;
  height: 30px;
 
}

.iconos i{
  color: #f6eec9;
  font-size: 3rem;
  display: inline-flex;
  padding: 15px;
  position: relative;
  left: 40px;

}

.iconos img{
  width: 100px;
  position: relative;
  bottom: 10px;
  left: 40px;
}


.container-abajo{
  color: #f6eec9;
}

.redes{
  display: flex;
  justify-content: center;
  background-color: #4c0505;
}


.contacto{
  display: flex;
  justify-content: center;
  background-color: #4c0505;
}
 */

/* --------------------------------------------------- */


/* EXTRAIDO DEL OTRO CSS  */

/* DESKTOP */

/* .home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  background-image: url("/img/fondos/footer_fondo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}



footer .nav__footer{
  margin-top: 12rem;
}
 */


/* 
.nav-bar{
  background-color: #4c0505;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem 0;
}



.list--header{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.item--header:not(:last-child){
  border-right: .4rem solid burlywood ;
  border-radius: .2rem;
}

.item--header:nth-child(4){
  padding: 1rem 1rem 1rem .5rem;
}



.btn--header{
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1;
  width: 90%;
  color:#f6efca;
  transition: color .2s, background-color;
}



.btn--header:last-child{
  margin-left: 1rem;
} */




/* logo-footer */



/* .logo-footer{
  display: inline-block;
  width: 44.5rem;
  margin-top: 6rem;
}

 .logo-footer img{
  width: 100%;
}
 */


/* FOOTER-CONTAINER */

/* .footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  align-self: flex-end;
  margin-right: 20rem;
}

.container-arriba{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  color: #f6eec9;
  position: relative;
  bottom: 40px;
}

.medios-de-pago{
  position: relative;
  right: 10px;
  
}

.medios-texto{
  position: relative;
}

.medios-texto::after{
  content: '';
  background-color: #f6eec9;
  width: 100%;
  height: 6px;
  border-radius: 20px;
  position: absolute;  
  top: 45px;
  left: 0;
}

.container-arriba .iconos{
  font-size: 4rem;
  display:flex ;
  align-items: flex-start;
  position: relative;
  right: 80px;
  bottom: 13px;
}

.container-arriba .iconos i{
  padding: 20px;
}

.container-arriba .iconos img{
  position: relative;
  bottom: 13px;
}


.container-abajo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #f6eec9;
  position: relative;
  bottom: 40px;
}

.contacto{
  background-color: #4c0505;
  height: 35px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  border-radius: 30px;
  position: relative;
  right: 10px;
}

.contacto p{
  position: relative;
  top: 3px;
  padding: 5px ; 
}

.contacto i{
  padding: 15px;

}

  

.redes{
  background-color: #4c0505;
  height: 35px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  border-radius: 30px;
  position: relative;
  left: 70px; 
}

.redes p{
  position: relative;
  top: 3px;
  padding: 5px ;
  padding-right: 50px;
}

.redes i{
  padding: 10px;
}



.footer-text{
  align-self: flex-start;  
  display: inline;
  font-family: 'Arimo', sans-serif;
  color: #f6eec9;
  font-size: 2rem;
  position: relative;
  left: 80px;
}

.footer-text::after{
  content: '';
  background-color: #f6eec9;
  width: 700%;
  height: 5px;
  position: absolute;  
  top: -22px;
  left: -90px;
}

 */







