*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px;
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
  overflow-x: hidden;
}

main{
  height: 100vh;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #f6eec9;
}




/* FOOTER */

.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  background-image: url("/images/footer_fondo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; 
  /* display: flex;
  align-items: center; */
}



footer .nav-footer{
  font-size: x-large;
  margin-top: 80px;
}

footer .nav-footer ul li{
  display: inline-flex;
}

footer .nav__footer{
  margin-top: 12rem;
}

footer .logo-footer{
  display: inline-block;
  width: 44.5rem;
  margin-top: 6rem;
}

footer .logo-footer img{
  width: 100%;
}

footer .pagos{
  display: flex;
  text-align: end;
}