*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px;
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
  overflow-x: hidden;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #f6eec9;
}




/* los display nones para poder trabajar en el footer */

/* ---------------------------- */

.description.row{
  display: none; 
}



/* .categorias{
  display: none;
} */

/* .slider{
  display: none;
} */

/* ----------------------- */







/* FOOTER */

/* MOBILE 320 */


 .footer{
  background: linear-gradient(0.40turn, #4c0505, #f6eec9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  color: #f6eec9;
  width: 100vw;
}
 
.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  border-bottom: .5rem solid  #f6eec9;
  padding-bottom: 20px;
}



.logo-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: .5rem solid  #f6eec9;
  padding-bottom: 20px;
}


.logo-footer img{
  width: 80%;
}




.segundo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-arriba{
  display: flex;
  justify-content: center;
}


.medios-de-pago{
  margin-top: 30px;
}


.medios-texto{
  margin-left: 17vw;
 font-size: 2.2rem;
 width: 14rem;
 border-bottom: .3rem solid  #f6eec9;
 border-radius: 4%;
 font-weight: unset;
}


.iconos{
  display: inline-flex;
  justify-content: center;
  font-size: 3rem;
  height: 50px;
}

.iconos i{
  padding: 15px;
}

.iconos img{
  margin-left: 5px;
  margin-top: 7px;
  width: 110px;
  height: 50px;
}

 .container-abajo{
  margin-top: 10px
}

.redes{
  background-color: #4c0505;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 30px;
  padding: 0px;
  height: 24px;
  margin-top: 5px;
}

.redes-text{
  font-size: 1.5rem;
  display: flex;
  margin: unset;
  margin-left: 10px ;
  font-weight: unset;
}


.redes i{
  padding: 2px;
  font-size: 15px;
  margin-right: 5px;
  margin-top: .5px;
}

.fa-facebook:before {
    margin-left: 34px;
}

.contacto{
  background-color: #4c0505;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin: 20px 100px;
  height: 25px;
  margin-bottom: 90px;
  margin-top: 40px;
}

.contactanos-text{
  padding: 10px;
  margin: unset;
  font-weight: unset;
}

.contacto i{
  padding: 2px;
  font-size: 15px;
  margin-right: 10px;
}

.footer-text{
  display: none;
}  
 
 


@media screen and (min-width: 500px){
  .medios-texto{
    margin-left: 16vw;
    font-size: 30px;
    width: 18rem;
    border-bottom: 0.5rem solid #f6eec9;
  }
  
  .medios-de-pago i{
    padding: 21px;
    font-size: 4rem;
  }

  .iconos img{
    margin-left: 5px;
    margin-top: 12px;
    width: 163px;
    height: 68px;
  }

  .redes{
    height: 34px;
    margin-top: 24px;
  }

  .redes-text{
    font-size: 2rem;
  }

  .redes i{
    font-size: 22px;
    
  }
  .contacto{
    justify-content: center;
    margin: 60px 165px;
    height: 32px;
    
  }
  .contactanos-text{
    font-size: 2rem;
    
  }

  .contacto i{ 
   font-size: 20px;
  }
}


@media screen and (min-width: 725px){

  .logo-footer img{
    width: 45%;
  }

  .footer{
    height: 485px;
    overflow-x: hidden;
    padding-bottom: 90px;
  }
  
  .footer__container{
    border-bottom: unset;
  }
  .segundo-container{
    display: flex;
    flex-direction: unset;
    justify-content: center;
  }
  
  
  .medios-de-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 31px;
  }
  
  
  .medios-texto{
    display: flex;
    justify-content: center;
  
    font-size: 2.5rem;
    width: 16rem;
    border-bottom: .5rem solid #f6eec9;
    border-radius: 4%;
    margin: unset;
    font-weight:unset
  }
  
  
  
  .iconos{  
    height: 50px;
  }
  
  .iconos i{
  padding: 15px; 
  font-size: 4rem;
  }
  
  .iconos img{
  margin-left: 5px;
  width: 158px;
  height: 65px;
  }


  .container-abajo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 50%;
  }

 .redes{
    margin-top: 10px; 
    height: 39px;
 }


 .redes-text{
    margin: 0;
    font-size: 2rem;
    padding-left: 9px;
    font-weight: unset;
 }


 .redes i{
    font-size: 2rem;
 }


 .contacto{
    height: 34px;
    margin-bottom: 15px;
 }

 .contactanos-text{ 
    font-size: 2rem;
    font-weight: unset;
 }

 .contacto i{
  font-size: 2rem;
 }



}


@media screen and (min-width: 960px){

  
  .logo-footer img{
    width: 36%;
  }


  .segundo-container{
    margin-left: 7vw;
  }
  
}

@media screen and (min-width: 1182px){

  .footer{
    margin-top: -20rem;
  }

  .logo-footer img{
    margin-top: 26px;
    width: 33%;
  }


 /*  .segundo-container{
    margin-left: 7vw;
  } */

}
 


@media screen and (min-width: 1200px){



   .footer{
    background-image: url("/img/fondos/footer_fondo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height:420px;
    padding-bottom: unset;
  }
    
  
  .footer__container{
    flex-direction: unset;
    width: 80vw;
    margin: 0 auto;
    padding-bottom: unset;
  } 
  
  
  
  .logo-footer{
    display: inline-block;
    width: 40vw;
    border-bottom: unset;
  }
  
  .logo-footer img{
   width: 100%;
    height: 88%; 
  }
  
  
  
  .segundo-container{
    flex-direction: column;
    width: 61%;
    margin-top: 70px;
    padding-left: 30px;
  }
  
  
  .container-arriba{
   color: #f6eec9; 
   flex-direction: column;
  }
  
  .medios-de-pago{
   width: 50vw;
   display: flex;
   flex-direction: unset;
   justify-content: space-between;
   margin-top: 30px; 
  }
    
  .iconos{ 
    font-size: 4rem;
    margin-right: 34px;
  }
  
  .iconos i{
    padding: 0 20px;
  }
  
  .iconos img{
    width: 140px;
    height: 70px; 
    margin-left: 10px;
    margin-top: -10px;
  }
 
   .container-abajo{
    flex-direction: row-reverse;
    justify-content: space-between;
    width: unset;
    margin-top: 30px;
  }
  
  .contacto{
    height: 40px;
    margin: unset;
  }
  
  .contactanos-text{
     margin: 0;
    display: flex;
    align-items: center;
    margin-left: 11px; 
  }
  
  
  .redes{
    margin: unset;
  }
  
  .footer-text{
    color: #f6eec9;
    font-family: arimo;
    font-size: 20px;
    border-top: .5rem solid;
    width: 100%;
    background-color: #983724e6;
    display: block;
  }
  .texto-footer-text{
    margin-left: 80px;
    margin-top: 6px;
    margin-bottom: 6px;
  } 
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px;
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
  overflow-x: hidden;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #f6eec9;
}




/* los display nones para poder trabajar en el footer */

/* ---------------------------- */

.description.row{
  display: none; 
}



/* .categorias{
  display: none;
} */

/* .slider{
  display: none;
} */

/* ----------------------- */







/* FOOTER */

/* MOBILE 320 */


 .footer{
  background: linear-gradient(0.40turn, #4c0505, #f6eec9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  color: #f6eec9;
  width: 100vw;
}
 
.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  border-bottom: .5rem solid  #f6eec9;
  padding-bottom: 20px;
}



.logo-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: .5rem solid  #f6eec9;
  padding-bottom: 20px;
}


.logo-footer img{
  width: 80%;
}




.segundo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-arriba{
  display: flex;
  justify-content: center;
}


.medios-de-pago{
  margin-top: 30px;
}


.medios-texto{
  margin-left: 17vw;
 font-size: 2.2rem;
 width: 14rem;
 border-bottom: .3rem solid  #f6eec9;
 border-radius: 4%;
 font-weight: unset;
}


.iconos{
  display: inline-flex;
  justify-content: center;
  font-size: 3rem;
  height: 50px;
}

.iconos i{
  padding: 15px;
}

.iconos img{
  margin-left: 5px;
  margin-top: 7px;
  width: 110px;
  height: 50px;
}

 .container-abajo{
  margin-top: 10px
}

.redes{
  background-color: #4c0505;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 30px;
  padding: 0px;
  height: 24px;
  margin-top: 5px;
}

.redes-text{
  font-size: 1.5rem;
  display: flex;
  margin: unset;
  margin-left: 10px ;
  font-weight: unset;
}


.redes i{
  padding: 2px;
  font-size: 15px;
  margin-right: 5px;
  margin-top: .5px;
}

.fa-facebook:before {
    margin-left: 34px;
}

.contacto{
  background-color: #4c0505;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin: 20px 100px;
  height: 25px;
  margin-bottom: 90px;
  margin-top: 40px;
}

.contactanos-text{
  padding: 10px;
  margin: unset;
  font-weight: unset;
}

.contacto i{
  padding: 2px;
  font-size: 15px;
  margin-right: 10px;
}

.footer-text{
  display: none;
}  
 
 


@media screen and (min-width: 500px){
  .medios-texto{
    margin-left: 16vw;
    font-size: 30px;
    width: 18rem;
    border-bottom: 0.5rem solid #f6eec9;
  }
  
  .medios-de-pago i{
    padding: 21px;
    font-size: 4rem;
  }

  .iconos img{
    margin-left: 5px;
    margin-top: 12px;
    width: 163px;
    height: 68px;
  }

  .redes{
    height: 34px;
    margin-top: 24px;
  }

  .redes-text{
    font-size: 2rem;
  }

  .redes i{
    font-size: 22px;
    
  }
  .contacto{
    justify-content: center;
    margin: 60px 165px;
    height: 32px;
    
  }
  .contactanos-text{
    font-size: 2rem;
    
  }

  .contacto i{ 
   font-size: 20px;
  }
}


@media screen and (min-width: 725px){

  .logo-footer img{
    width: 45%;
  }

  .footer{
    height: 485px;
    overflow-x: hidden;
    padding-bottom: 90px;
  }
  
  .footer__container{
    border-bottom: unset;
  }
  .segundo-container{
    display: flex;
    flex-direction: unset;
    justify-content: center;
  }
  
  
  .medios-de-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 31px;
  }
  
  
  .medios-texto{
    display: flex;
    justify-content: center;
  
    font-size: 2.5rem;
    width: 16rem;
    border-bottom: .5rem solid #f6eec9;
    border-radius: 4%;
    margin: unset;
    font-weight:unset
  }
  
  
  
  .iconos{  
    height: 50px;
  }
  
  .iconos i{
  padding: 15px; 
  font-size: 4rem;
  }
  
  .iconos img{
  margin-left: 5px;
  width: 158px;
  height: 65px;
  }


  .container-abajo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 50%;
  }

 .redes{
    margin-top: 10px; 
    height: 39px;
 }


 .redes-text{
    margin: 0;
    font-size: 2rem;
    padding-left: 9px;
    font-weight: unset;
 }


 .redes i{
    font-size: 2rem;
 }


 .contacto{
    height: 34px;
    margin-bottom: 15px;
 }

 .contactanos-text{ 
    font-size: 2rem;
    font-weight: unset;
 }

 .contacto i{
  font-size: 2rem;
 }



}


@media screen and (min-width: 960px){

  
  .logo-footer img{
    width: 36%;
  }


  .segundo-container{
    margin-left: 7vw;
  }
  
}

@media screen and (min-width: 1182px){

  .logo-footer img{
    margin-top: 26px;
    width: 33%;
  }


 /*  .segundo-container{
    margin-left: 7vw;
  } */

}
 


@media screen and (min-width: 1200px){



   .footer{
    background-image: url("/img/fondos/footer_fondo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height:420px;
    padding-bottom: unset;
  }
    
  
  .footer__container{
    flex-direction: unset;
    width: 80vw;
    margin: 0 auto;
    padding-bottom: unset;
  } 
  
  
  
  .logo-footer{
    display: inline-block;
    width: 40vw;
    border-bottom: unset;
  }
  
  .logo-footer img{
   width: 100%;
    height: 88%; 
  }
  
  
  
  .segundo-container{
    flex-direction: column;
    width: 61%;
    margin-top: 70px;
    padding-left: 30px;
  }
  
  
  .container-arriba{
   color: #f6eec9; 
   flex-direction: column;
  }
  
  .medios-de-pago{
   width: 50vw;
   display: flex;
   flex-direction: unset;
   justify-content: space-between;
   margin-top: 30px; 
  }
    
  .iconos{ 
    font-size: 4rem;
    margin-right: 34px;
  }
  
  .iconos i{
    padding: 0 20px;
  }
  
  .iconos img{
    width: 140px;
    height: 70px; 
    margin-left: 10px;
    margin-top: -10px;
  }
 
   .container-abajo{
    flex-direction: row-reverse;
    justify-content: space-between;
    width: unset;
    margin-top: 30px;
  }
  
  .contacto{
    height: 40px;
    margin: unset;
  }
  
  .contactanos-text{
     margin: 0;
    display: flex;
    align-items: center;
    margin-left: 11px; 
  }
  
  
  .redes{
    margin: unset;
  }
  
  .footer-text{
    color: #f6eec9;
    font-family: arimo;
    font-size: 20px;
    border-top: .5rem solid;
    width: 100%;
    background-color: #983724e6;
    display: block;
  }
  .texto-footer-text{
    margin-left: 80px;
    margin-top: 6px;
    margin-bottom: 6px;
  } 
}

