<!-- head -->
  <%- include('partials/head')  %>
<!-- /head --> 

<body class="body--home">

<!-- header -->    
    <%- include('partials/header')  %>
<!-- /header -->

<main class="home__main">
  <section class="slider">
    <!-- slider acá -->
  </section>
      
      <section class="kits">
        <h2 class="kits--title">Kits para principiantes</h2>
        <!-- slider de instrumentos acá -->
        
        <!-- <div class="kit-slider">
          <div class="slide">
            <article class="article-container">
              <h3 class="article--title">Guitarras</h3>
              <img class="kits--logo" src="/img/icons/icon_sketch.svg" alt="">
              <div class="description">  
                <div class="article--content">
                  <figcaption class="article--text">
                    <div class="marca">
                      <h3 class="article--sub-title">marca:</h3>
                      <p class="article--valor">Gibson</p>
                    </div>
                    <div class="tipo">
                      <h3 class="article--sub-title">tipo:</h3>
                      <p class="article--valor">electrica</p>
                    </div>
                    <div class="modelo">
                      <h3 class="article--sub-title">modelo:</h3>
                      <p class="article--valor">ABC-123</p>
                    </div>
                    <div class="valor">
                      <h3 class="article--sub-title">valor:</h3>
                      <p class="article--valor">$10000</p>
                    </div>
                  </figcaption>
                  <figure class="article--figure">
                    <img src="/img/guitarras/guitar_00.png" alt="instrumento" class="article--img">
                  </figure>
                </div>

              </div>
              <a href="#" class="article--btn">+ info</a>
            </article>
            <article class="article-container">
              <h3 class="article--title">Guitarras</h3>
              <img class="kits--logo" src="/img/icons/icon_sketch.svg" alt="">
              <div class="description">  
                <div class="article--content">
                  <figcaption class="article--text">
                    <div class="marca">
                      <h3 class="article--sub-title">marca:</h3>
                      <p class="article--valor">Gibson</p>
                    </div>
                    <div class="tipo">
                      <h3 class="article--sub-title">tipo:</h3>
                      <p class="article--valor">electrica</p>
                    </div>
                    <div class="modelo">
                      <h3 class="article--sub-title">modelo:</h3>
                      <p class="article--valor">ABC-123</p>
                    </div>
                    <div class="valor">
                      <h3 class="article--sub-title">valor:</h3>
                      <p class="article--valor">$10000</p>
                    </div>
                  </figcaption>
                  <figure class="article--figure">
                    <img src="/img/guitarras/guitar_00.png" alt="instrumento" class="article--img">
                  </figure>
                </div>

              </div>
              <a href="#" class="article--btn">+ info</a>
            </article>
            
          </div>
        </div> -->
      
        <div class="kis--slider">
          <div class="slide">
            <div class="article-container">
              <div class="article--card">
                texto texto texto
              </div>
            </div>
            <div class="article-container">
              <div class="description row">
                texto texto texto
              </div>
            </div>
            <div class="article-container">
              <div class="description row">
                texto texto texto
              </div>
            </div>
    
          </div>
        </div>
      
      </section>
      
      <section class="categorias">
        <!-- navegacion de categorias acá -->
      </section>
    </main>

<!-- footer -->
    <%- include('partials/footer')  %> 
<!-- /footer -->

  </body>
</html>
