<!-- head -->
  <%- include('partials/head')  %>
<!-- /head --> 

<body class="home">

<!-- header -->    
    <%- include('partials/header')  %>
<!-- /header -->

    <main>
      <div class="hero-slider">
        <img class="img--slider" src="/img/slider_00.jpg" alt="">
      </div>
    </main>

<!-- footer -->
    <%- include('partials/footer')  %> 
<!-- /footer -->

  </body>
</html>
