<!DOCTYPE html>
<html lang="es">
 <!-- head --> 
<%- include('partials/head') %> 
<!-- /head -->

  <body>
 
    
   
    

    





    
<!-- footer -->
    <%- include('partials/footer')  %> 
<!-- /footer -->

  </body>
</html>
