<%- include('partials/head')  %>
  <body class="home">
    <%- include('partials/header')  %>


    
    <main>

    </main>





    
<!-- footer -->
    <%- include('partials/footer')  %> 
<!-- /footer -->

  </body>
</html>
