<section class="carrito-mobile" id="carrito">
    <div class="back">
        
        <div class="carrito-container">
           
            <div class="carrito-board">
                <div class="title-container">
                    <h2 class="carrito-title">Hasta ahora tenés: </h2>
                    <a href="#header" class="carrito-link">
                        <img class="drumstick--img" src="/img/icons/icon_01.png" alt="" load="lazy"/>
                    </a>
                </div>
                <div class="carrito-content">
                    <ul class="carrito--list">
                        <li class="carrito--item">
                            <div class="carrito--row" id="c1">
                                <h3 class="carrito--item-title">guitarra1</h3>
                            </div>
                           
                            <div class="carrito-extended" id="1">
                                <div class="extended--img">
                                    <img class="img--carrito" src="" alt="" class="carrito--img" load="lazy">
                                </div>
                                <div class="extended--text">
                                    <p class="carrito--description">
                                                                        </p>
                                </div>
                            </div>
                        </li>
                    </ul>
    
                </div>
                <div class="carrito-subTotal">
                    <p class="carrito-text">
                        Sub total:
                    </p>
                    <p class="carrito-value">
                       $45.000
                    </p>
                </div>
            </div>
            
            <div class="btn--container">
                <a href="" class="btn--carrito">terminar compra</a>
                <a href="#" class="btn--carrito">seguir comprando</a>
            </div>
        
        </div>
       
    </div>
</section>