<footer class="footer">
	<div class="footer__container">
		<a href="/" class="logo-footer">
			<img class="img--footer" src="/img/icons/logo_01.svg" />
		</a>

		<div class="segundo-container">
			<div class="container-arriba">
				<nav class="nav-bar--desktop nav-bar--footer">
					<ul class="list--header__desktop">
						<li class="item--header">
							<a href="/categoria/guitarras-cuerdas" class="btn--header__desktop">guitarras/ cuerdas</a>
						</li>
						<li class="item--header">
							<a href="/categoria/baterias-percusion" class="btn--header__desktop">baterias/ percusion</a>
						</li>
						<li class="item--header">
							<a href="/categoria/pianos-teclados" class="btn--header__desktop">pianos/ teclados</a>
						</li>
						<li class="item--header">
							<a href="/categoria/vientos" class="btn--header__desktop">vientos </a>
						</li>
						<li class="item--header">
							<a href="/categoria/amplis-accesorios" class="btn--header__desktop"
								>amplis/ accesorios/ electronicos</a
							>
						</li>
					</ul>
				</nav>

				<div class="medios-de-pago">
					<p class="medios-texto">Medios de pago</p>

					<div class="iconos">
						<i class="fab fa-cc-visa"></i>
						<i class="fab fa-cc-mastercard"></i>
                        <div class="iconos--img">
                            <img class="img--ml" src="/img/icons/mercado-libre-seeklogo.png"alt="" load="lazy"/>
                        </div>	
					</div>
				</div>
			</div>

			<div class="container-abajo">
				<div class="redes">
					<p class="redes-text">No dejes de seguirnos</p>
                    <div class="redes--iconos">
						<a href="https://es-la.facebook.com/">
							<i class="fab fa-facebook"></i>
						</a>                       
						<a href="https://twitter.com/">
							<i class="fab fa-twitter"></i>
						</a>                        
						<a href="https://www.youtube.com/">
							<i class="fab fa-youtube-square"></i>
						</a>                        
						<a href="https://www.instagram.com/">
							<i class="fab fa-instagram"></i>
						</a>
                        
                    </div>
				</div>

				<a href="" class="contacto">
					<p class="contactanos-text">Contactanos</p>
					<i class="far fa-envelope"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="footer-text">
		<p class="texto-footer-text">Red Hot Chili Guitars marca registrada</p>
	</div>


</footer>
<!-- /* Validaciones Front */ -->
<script src="/javascript/sandbox.js"></script>


<script src="/javascript/logRegValidator.js"></script>


<!-- <script src="/javascript/cargaValidator.js"></script> -->
  <script src="/javascript/slider.js"></script>
