<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Lobster&display=swap" rel="stylesheet"/>
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
		<link rel="shortcut icon" href="/img/icons/icon_sketch.svg" type="image/x-icon">
		
		<link rel="stylesheet" href="/stylesheets/main.css">
		<title><%= title %></title>
	</head>
</html>
