<header class="header">

	<div class="header__container">
		<a class="link--logo" href="/" class="link">
			<img
				class="header__logo"
				src="/img/icons/logo_01.svg"
				alt=""
				class="img__logo"
				load="lazy"
			/>
		</a>
		<a class="hamburguer menu-btn">
			<img class="mobile-logo" src="/img/icons/icon_sketch.svg" alt="" load="lazy"/>
		</a>
		<div class="nav__container">
			<form
				class="header__form"
				action="/products/:busqueda"
				method="GET"
				id="formSearch"
			>
				<div class="search-bar">
					<input
						class="barra-busqueda"
						type="text"
						placeholder="buscá tú instrumento..."
						name="busqueda"
						id="search"
					/>
					<button class="btn--search" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>
				<div class="login">
					<div class="login-container">
						<a href="/" class="btn--home">
							<i class="fas fa-home"></i>
						</a>
				

						<% if (locals.user) { %>
							<% if (locals.user.rol == "admin" || locals.user.rol == "master") { %>
								<a href="/products" class="link--message">
									<i class="fas fa-key"></i>
								</a>
								<a href="/products/admin/list" class="link--kart">
									<i class="fas fa-list"></i>
								</a>
							<% } else { %>
								<a href="" class="link--message">
									<i class="far fa-envelope"></i>
								</a>
								<a href="#carrito" class="link--kart">
									<i class="fas fa-shopping-cart"></i>
								</a>
							<% } %>
						
						<% } else { %>
							
							<a href="mailto:redHotChiliGuitars@gmail.com" class="link--message">
								<i class="far fa-envelope"></i>
							</a>
							<a href="#carrito" class="link--kart">
								<i class="fas fa-shopping-cart"></i>
							</a>
						
						<% } %>
						
					
					</div>

					<% if (locals.user) { %>
						<a href="/users/logout" class="btn--logeoRegistro btn--cierre"> cerrar sesion </a>
						
					<% } else { %>
						<a href="/users" class="btn--logeoRegistro"> logeate/registrate </a>
					<%  } %>
				</div>
			</form>
			<!-- copiar y pegar en footer -->

			<nav class="nav-bar--desktop">
				<ul class="list--header__desktop">
					<li class="item item--header">
						<a href="/categoria/guitarras-cuerdas" class="btn--header__desktop"
							>guitarras/ cuerdas</a
						>
					</li>
					<li class="item item--header">
						<a href="/categoria/baterias-percusion" class="btn--header__desktop"
							>baterias/ percusion</a
						>
					</li>
					<li class="item item--header">
						<a href="/categoria/pianos-teclados" class="btn--header__desktop"
							>pianos/ teclados</a
						>
					</li>
					<li class="item item--header">
						<a href="/categoria/vientos" class="btn--header__desktop"
							>vientos
						</a>
					</li>
					<li class="item item--header">
						<a href="/categoria/amplis-accesorios" class="btn--header__desktop"
							>amplis/ accesorios/ electronicos</a
						>
					</li>
				</ul>
			</nav>
			<!--  -------------------------------------->
		</div>
		<div class="switch">
			<div class="theme-btn">
				<div class="btn-point">
					<i class="fas fa-sun"></i></div>
			</div>
		</div>
	</div>

	<script src="/javascript/searchValidator.js"></script>
</header>
<nav class="nav-bar" id="barra">
	<ul class="list--header">
		<li class="item--header">
			<a href="/categoria/guitarras-cuerdas" class="btn--header">guitarras/ cuerdas</a>
		</li>
		<li class="item--header">
			<a href="/categoria/baterias-percusion" class="btn--header">baterias/ percusion</a>
		</li>
		<li class="item--header">
			<a href="/categoria/pianos-teclados" class="btn--header">pianos/ teclados</a>
		</li>
		<li class="item--header">
			<a href="/categoria/vientos" class="btn--header">vientos </a>
		</li>
		<li class="item--header">
			<a href="/categoria/amplis-accesorios" class="btn--header"
				>amplis/ accesorios/ electronicos</a
			>
		</li>

		<li class="item--header">
			<a href="/" class="btn--header">home</a>
		</li>
	
	</ul>

	<div class="switch__mobile">
		<div class="theme-btn__mobile">
			<div class="btn-point__mobile">
				<i class="fas fa-sun" id="icon-mobile"></i>
			</div>
		</div>
	</div>
	
	<a class="drumstick menu-btn">
		<img class="drumstick--img" src="/img/icons/icon_01.png" alt="" load="lazy"/>
	</a>
	
	<% if (locals.user) { %>
		<a href="/users/logout" class="btn--logeoRegistro__mobile btn--cierre"> cerrar sesion </a>
		
	<% } else { %>
		<a href="/users" class="btn--logeoRegistro__mobile"> logeate/registrate </a>
	<%  } %>
</nav>
