
  <div class="container-slider">
    <div class="slider" id="slider">
      <div class="slider__section">

        <img 
        srcset="img/sliders/slider_00_500w.png 500w, 
        img/sliders/slider_00_1000w.png 1000w,
        img/sliders/slider_00_4000w.png 4000w"
        
        sizes="(max-width:768px) 42vw, (max-width:1200px) 64vw, (min-width:1200px) 100vw"
        
        alt="" class="slider__img"
        src="img/sliders/slider_00_4000w.png"></img>
      
      </div>

      <div class="slider__section">

        <img 
        srcset="img/sliders/slider_01_500w.png 500w, 
        img/sliders/slider_01_1000w.png 1000w,
        img/sliders/slider_01_4000w.png 4000w"
        
        sizes="(max-width:768px) 42vw, (max-width:1200px) 64vw, (min-width:1200px) 100vw"
        alt="" class="slider__img"
        src="img/sliders/slider_01_4000w.png"></img>
      
      </div>

      <div class="slider__section">

        <img 
        srcset="img/sliders/slider_02_500w.png 500w, 
        img/sliders/slider_02_1000w.png 1000w,
        img/sliders/slider_02_4000w.png 4000w"
        
        sizes="(max-width:768px) 42vw, (max-width:1200px) 64vw,  (min-width:1200px) 100vw"
        alt="" class="slider__img"
        src="img/sliders/slider_02_4000w.png"></img>
      
      </div>
      
      <div class="slider__btn slider__btn--right" id="btn-right"><div></div></div> 
      <div class="slider__btn slider__btn--left" id="btn-left"><div></div></div>
    </div>
  </div>
  


  <!-- <script src="../../../public/javascript/slider.js"></script> -->

  




    <!-- <div class="conteinerSlider">
      <img class="slider--img" name="slider" load="lazy">
    </div>
    <picture>
      <source media="(max-width:325px)" srcset="guitarra-325.jpg">
      <source media="(min-width:768px)" srcset="guitarra-768.jpg">
      <source media="(max-width:1200px)" srcset="guitarra-1200.jpg">
       
      <source media="(max-width:325px)" srcset="guitarra-325.jpg">
      <source media="(min-width:768px)" srcset="guitarra-768.jpg">
      <source media="(max-width:1200px)" srcset="guitarra-1200.jpg">
          
      <source media="(max-width:325px)" srcset="guitarra-325.jpg">
      <source media="(min-width:768px)" srcset="guitarra-768.jpg">
      <source media="(max-width:1200px)" srcset="guitarra-1200.jpg">

      <img src="../img/sliders" alt="">
    </picture>  -->
