<section class="carrito-mobile" id="carrito">
    <div class="back">
        <div class="carrito-container">
            <div class="title-container">
                <a href="#header" class="carrito-link"><i class="far fa-times-circle"></i></a>
                <h2 class="carrito-title">Hasta ahora tenés:</h2>
            </div>
            <div class="carrito-content">
                <ul class="carrito--list">
                    <li class="carrito--item">
                        <div class="carrito--row">
                            <h3 class="carrito--item-title">guitarra1</h3>
                            <a href="" class="btn--expand"><i class="fas fa-sort-down"></i></a>
                        </div>
                       
                        <div class="carrito-extended" id="extended">
                            <div class="extended--img">
                                <img class="img--carrito" src="/img/instrumentos/guitarras/guitar_00.png" alt="" class="carrito--img">
                            </div>
                            <div class="extended--text">
                                <p class="carrito--description">
                                    guitarra gibson, tamaño xx x xx, diapason de madera con trastes de acero y clavijas anti rebote
                                </p>
                            </div>
                        </div>
                    </li>
                  <!--   <li class="carrito--item">
                        <input type="checkbox" id="item1" name="accordion" class="accordion--input">
                        <label for="item1" class="accordion--label">item 1</label>
                        <div class="carrito-extended" id="extended">
                            <div class="extended--img">
                                <img class="img--carrito" src="/img/instrumentos/guitarras/guitar_00.png" alt="" class="carrito--img">
                            </div>
                            <p class="carrito--description">
                                guitarra gibson, tamaño xx x xx, diapason de madera con trastes de acero y clavijas anti rebote
                            </p>
                        </div>

                    </li> -->
                </ul>

            </div>
            <div class="carrito-subTotal">
                <p class="carrito-text">
                    Sub total:
                </p>
                <p class="carrito-value">
                   $20.000
                </p>
            </div>
        </div>
        <div class="btn--container">
            <a href="" class="btn--carrito">terminar compra</a>
            <a href="#header" class="btn--carrito">seguir comprando</a>
        </div>
    </div>
</section>