<section class="carrito-mobile" id="carrito">
    <div class="back">
        <div class="carrito-container">
            <div class="title-container">
                <a href="#header" class="carrito-link"><i class="far fa-times-circle"></i></a>
                <h2 class="carrito-title">Hasta ahora tenés:     </h2>
            </div>
            <div class="carrito-content">
                <ul class="carrito--list">
                    <li class="carrito--item">
                        <div class="carrito--row" id="c1">
                            <h3 class="carrito--item-title">guitarra1</h3>
                        </div>
                       
                        <div class="carrito-extended" id="1">
                            <div class="extended--img">
                                <img class="img--carrito" src="/img/instrumentos/cuerdas/guitarra_acustica_00.png" alt="" class="carrito--img">
                            </div>
                            <div class="extended--text">
                                <p class="carrito--description">
                                    guitarra Cort, tamaño xx x xx, diapason de madera con trastes de acero y clavijas anti rebote
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="carrito--item">
                        <div class="carrito--row" id="c2">
                            <h3 class="carrito--item-title">guitarra1</h3>
                        </div>
                       
                        <div class="carrito-extended" id="2">
                            <div class="extended--img">
                                <img class="img--carrito" src="/img/instrumentos/cuerdas/guitarra_acustica_02.png" alt="" class="carrito--img">
                            </div>
                            <div class="extended--text">
                                <p class="carrito--description">
                                    guitarra Cort, tamaño xx x xx, diapason de madera con trastes de acero y clavijas anti rebote
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="carrito--item">
                        <div class="carrito--row" id="c3">
                            <h3 class="carrito--item-title">guitarra1</h3>
                        </div>
                       
                        <div class="carrito-extended" id="3">
                            <div class="extended--img">
                                <img class="img--carrito" src="/img/instrumentos/cuerdas/guitarra_acustica_01.png" alt="" class="carrito--img">
                            </div>
                            <div class="extended--text">
                                <p class="carrito--description">
                                    guitarra Cort, tamaño xx x xx, diapason de madera con trastes de acero y clavijas anti rebote
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="carrito-subTotal">
                <p class="carrito-text">
                    Sub total:
                </p>
                <p class="carrito-value">
                   $45.000
                </p>
            </div>
        </div>
        <div class="btn--container">
            <a href="" class="btn--carrito">terminar compra</a>
            <a href="#" class="btn--carrito">seguir comprando</a>
        </div>
    </div>
</section>