<section class="categorias">
	<h3 class="categorias--title">categorias</h3>
	<ul class="categorias--list">
		<li class="categorias--item">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-guitarras">
					<h2 class="categorias--sub-title">guitarras</h2>
					<p class="categorias--text">
						las mejores guitarras e instrumentos de cuerdas
					</p>
				</div>
			</a>
		</li>
		<li class="categorias--item ">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-pianos">
					<h2 class="categorias--sub-title">pianos</h2>
					<p class="categorias--text">los mejores pianos y teclados</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-baterias">
					<h2 class="categorias--sub-title">baterias</h2>
					<p class="categorias--text">todo en baterias y percusion</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-vientos">
					<h2 class="categorias--sub-title">vientos</h2>
					<p class="categorias--text">instrumentos de viento seleccionados</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-amplis">
					<h2 class="categorias--sub-title">amplis y accesorios</h2>
					<p class="categorias--text">
						amplificadores, pedaleras y todo lo que necesitas para hacer buena
						musica
					</p>
				</div>
			</a>
		</li>
	</ul>


</section>
<!-- CATEGORIAS PARA 1200 -->

<h3 class="categorias--title title-escritorio">categorias</h3>
<section class="box-c">
	<div class="box-i">
		<div class="guitarra ">
			<a href="">
				<h2 class="categorias--sub-title">guitarras</h2>
				<p class="categorias--text">
					las mejores guitarras e instrumentos de cuerdas
				</p>
			</a>
		</div>
		<div class="botton">
			<div class="viento">
				<a href="">
					<h2 class="categorias--sub-title">vientos</h2>
					<p class="categorias--text">instrumentos de viento seleccionados</p>
				</a>
			</div>
			<div class="ampli">
				<a href="">
					<h2 class="categorias--sub-title">amplis y accesorios</h2>
					<p class="categorias--text">
						amplificadores, pedaleras y todo lo que necesitas para hacer buena
						musica
					</p>
				</a>
			</div>
		</div>

	</div>
	<div class="box-d">
		<div class="bateria">
			<a href="">
				<h2 class="categorias--sub-title">baterias</h2>
				<p class="categorias--text">todo en baterias y percusion</p>
			</a>

		</div>
		<div class="box-d-botton">
			<div class="piano">
				<a href="">
					<h2 class="categorias--sub-title">pianos</h2>
					<p class="categorias--text">los mejores pianos y teclados</p>
				</a>
			</div>
		</div>
	</div>
</section>