<section class="categorias">
	<h3 class="categorias--title">categorias</h3>
	<ul class="categorias--list">
		<li class="categorias--item">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-guitarras">
					<h2 class="categorias--sub-title">guitarras</h2>
					<p class="categorias--text">
						las mejores guitarras e instrumentos de cuerdas
					</p>
				</div>
			</a>
		</li>
		<li class="categorias--item ">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-pianos">
					<h2 class="categorias--sub-title">pianos</h2>
					<p class="categorias--text">los mejores pianos y teclados</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-baterias">
					<h2 class="categorias--sub-title">baterias</h2>
					<p class="categorias--text">todo en baterias y percusion</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-vientos">
					<h2 class="categorias--sub-title">vientos</h2>
					<p class="categorias--text">instrumentos de viento seleccionados</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="" class="categorias--link">
				<div class="categorias--content" id="cat-amplis">
					<h2 class="categorias--sub-title">amplis y accesorios</h2>
					<p class="categorias--text">
						amplificadores, pedaleras y todo lo que necesitas para hacer buena
						musica
					</p>
				</div>
			</a>
		</li>
	</ul>



	<!-- CATEGORIAS PARA 1200 -->
</section>
<h3 class="categorias--title">categorias</h3>
<section class="box-c">
	<div class="box-i">
		<div class="guitarra">
				<a href="">	<h2 class="categorias--sub-title">guitarras</h2>
			<p class="categorias--text">
				las mejores guitarras e instrumentos de cuerdas
			</p> </a>
		</div>
		<div class="botton">
			<div class="viento">
<!-- 					<h2 class="categorias--sub-title">vientos</h2>
					<p class="categorias--text">instrumentos de viento seleccionados</p> -->
			<a href=""><img class="bg-viento" src="/img/bg-images/bg-saxo.jpg" alt=""> </a>	
			</div>
			<div class="ampli">
<!-- 				<h2 class="categorias--sub-title">amplis y accesorios</h2>
				<p class="categorias--text">
					amplificadores, pedaleras y todo lo que necesitas para hacer buena
					musica
				</p>  -->
			<a href=""><img class="bg-ampli" src="/img/bg-images/bg-ampli.jpg" alt=""> </a>	
			</div>
		</div>

	</div>
	<div class="box-d">
		<div class="bateria">
<!-- 			<h2 class="categorias--sub-title">baterias</h2>
			<p class="categorias--text">todo en baterias y percusion</p> -->
		<a href="">	<img class="bg-bateria" src="/img/bg-images/bg-bateria.jpg" alt=""> </a>
			
		</div>
		<div class="box-d-botton">
<!-- 			<h2 class="categorias--sub-title">pianos</h2>
			<p class="categorias--text">los mejores pianos y teclados</p> -->
		<a href="">	<img class="bg-piano" src="/img/bg-images/bg-piano.jpg" alt=""> </a>
		</div>
	</div>
</section>