<section class="categorias">
	<h3 class="categorias--title">categorias</h3>
	<ul class="categorias--list">
		<li class="categorias--item">
			<a href="/categoria/guitarras-cuerdas" class="categorias--link">
				<div class="categorias--content" id="cat-guitarras">
					<h2 class="categorias--sub-title">guitarras y cuerdas</h2>
					<p class="categorias--text">
						las mejores guitarras e instrumentos de cuerdas
					</p>
				</div>
			</a>
		</li>

		<li class="categorias--item">
			<a href="/categoria/pianos-teclados" class="categorias--link">
				<div class="categorias--content" id="cat-pianos">
					<h2 class="categorias--sub-title">pianos y teclados</h2>
					<p class="categorias--text">los mejores pianos y teclados</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="/categoria/baterias-percusion" class="categorias--link">
				<div class="categorias--content" id="cat-baterias">
					<h2 class="categorias--sub-title">baterias y percusion</h2>
					<p class="categorias--text">todo en baterias y percusion</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="/categoria/vientos" class="categorias--link">
				<div class="categorias--content" id="cat-vientos">
					<h2 class="categorias--sub-title">vientos</h2>
					<p class="categorias--text">instrumentos de viento seleccionados</p>
				</div>
			</a>
		</li>
		<li class="categorias--item">
			<a href="/categoria/amplis-accesorios" class="categorias--link">
				<div class="categorias--content" id="cat-amplis">
					<h2 class="categorias--sub-title">amplis y accesorios</h2>
					<p class="categorias--text">
						amplificadores, pedaleras y todo lo que necesitas para hacer buena
						musica
					</p>
				</div>
			</a>
		</li>
	</ul>
</section>

<section class="categorias--desktop">
	<div class="categorias--container">
		<h3 class="categorias--title--desktop">categorias</h3>
		<ul class="categorias--list--desktop">
			<div class="container--left">
				<li class="categorias--item--desktop">
					<a
						href="/categoria/guitarras-cuerdas"
						class="categorias--link"
						id="cat-guitarras__desktop"
					>
						<div class="categorias--content-1">
							<h2 class="categorias--sub-title__desktop">guitarras</h2>
							<p class="categorias--text__desktop">
								las mejores guitarras e instrumentos de cuerdas
							</p>
						</div>
					</a>
				</li>
				<div class="container--down">
					<li class="categorias--item--desktop">
						<a
							href="/categoria/vientos"
							class="categorias--link"
							id="cat-vientos__desktop"
						>
							<div class="categorias--content-2">
								<h2 class="categorias--sub-title__desktop">vientos</h2>
								<p class="categorias--text__desktop">
									instrumentos de viento seleccionados
								</p>
							</div>
						</a>
					</li>
					<li class="categorias--item--desktop">
						<a
							href="/categoria/amplis-accesorios"
							class="categorias--link"
							id="cat-amplis__desktop"
						>
							<div class="categorias--content-2">
								<h2 class="categorias--sub-title__desktop">
									amplis y accesorios
								</h2>
								<p class="categorias--text__desktop">
									amplificadores, pedaleras y todo lo que necesitas para hacer
									buena musica
								</p>
							</div>
						</a>
					</li>
				</div>
			</div>

			<div class="container--right">
				<li class="categorias--item--desktop">
					<a
						href="/categoria/baterias-percusion"
						class="categorias--link"
						id="cat-baterias__desktop"
					>
						<div class="categorias--content-3">
							<h2 class="categorias--sub-title__desktop">baterias</h2>
							<p class="categorias--text__desktop">
								todo en baterias y percusion
							</p>
						</div>
					</a>
				</li>
				<li class="categorias--item--desktop">
					<a
						href="/categoria/pianos-teclados"
						class="categorias--link"
						id="cat-pianos__desktop"
					>
						<div class="categorias--content-3">
							<h2 class="categorias--sub-title__desktop">pianos</h2>
							<p class="categorias--text__desktop">
								los mejores pianos y teclados
							</p>
						</div>
					</a>
				</li>
			</div>
		</ul>
	</div>
</section>
