<footer class="footer">    
    <div class="container">
        <div class="row"> 
            <!-- <div class="col-5"> -->
                <a href="/" class="logo-footer">
                    <img src="/img/icons/logo_01.svg">
                </a>
        </div>

           <!-- <div class="nav col-7"> -->
        <div class="nav__container nav__footer">
                <nav class="nav-bar">
                    <ul class="list list--header">
                        <li class="item item--header">
                            <a href="" class="btn btn--header">guitarras/ cuerdas</a>
                        </li>
                        <li class="item item--header">
                            <a href="" class="btn btn--header">baterias/ percusion</a>
                        </li>
                        <li class="item item--header">
                            <a href="" class="btn btn--header">pianos/ teclados</a>
                        </li>
                        <li class="item item--header">
                            <a href="" class="btn btn--header">vientos </a>
                        </li>
                        <li class="item item--header">
                            <a href="" class="btn btn--header">amplis/ accesorios/ electronicos</a>
                        </li>
                       
                    </ul>
                </nav>
            
        </div>
    </div>
    <div class="container-arriba">
           <div class="medios-de-pago">
                <p class="medios-texto">
                    Medios de pago
                </p>
           </div>
           <div class="iconos">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
            
                <img  class="img--mercadolibre" src="/img/icons/mercado-libre-seeklogo.png" alt="" >
           </div>
    </div>
    <div class="container-abajo">
           <!-- esto estaba abajo de contactanos -->
            <div class="redes">
            <p class="redes-text">No dejes de seguirnos</p>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube-square"></i>
            <i class="fab fa-instagram"></i>
            </div>
            <a href="" class="contacto">
                <p class="contactanos-text">Contactanos</p>
                <i class="far fa-envelope"></i>   
            </a>
    </div>
   <p class="footer-text">
    Red Hot Chili Guitars marca registrada
     </p>
</footer>