<header class="header">
     <div class="header__container">  
        <a class="link--logo" href="/" class="link">
            <img class="header__logo" src="/img/logo_01 copy.svg" alt="" class="img__logo">
        </a>
        <a  class="hamburguer" href="#barra">
            <img class="mobile-logo" src="/img/icons/icon_sketch.svg" alt="">
        </a>
        <div class="nav__container">
            <form class="header__form" action="">
                <div class="search-bar">
                    <input class="barra-busqueda" type="text" placeholder="buscá tú instrrumento...">
                    <button class="btn btn--search">
                        <i class="fas fa-search"></i>
                    </button>   
                </div>
                <div class="login">
                    <button class="btn btn--logeoRegistro">
                        logeate/registrate
                    </button>
                    <a href="" class="link--message">
                        <i class="far fa-envelope"></i>
                    </a>
                    <a href="" class="link--kart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </form>
           
            <svg class="header--svg" width="1366" height="176" viewBox="0 0 1366 176" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
            <clipPath id="path">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1403 0H-103V192H-63.3605C-43.5529 164.078 285.579 141.867 688.696 141.867C1021.05 141.867 1303.11 156.965 1403 177.913V0Z" fill="url(#paint0_linear)"/>
            </clipPath>
                </g>
                <defs>
                <filter id="filter0_d" x="-112" y="-3" width="1524" height="210" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="6"/>
                <feGaussianBlur stdDeviation="4.5"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                <linearGradient id="paint0_linear" x1="2031" y1="735" x2="-205" y2="-140" gradientUnits="userSpaceOnUse">
                <stop stop-color="#4C0505"/>
                <stop offset="1" stop-color="#FFA36C"/>
                </linearGradient>
                </defs>
                </svg>
        </div>
    </div>
    <div class="header__bg"></div>
</header>
<nav class="nav-bar" id="barra">
    <ul class="list list--header">
        <li class="item item--header">
            <a href="" class="btn btn--header">guitarras/ cuerdas</a>
        </li>
        <li class="item item--header">
            <a href="" class="btn btn--header">baterias/ percusion</a>
        </li>
        <li class="item item--header">
            <a href="" class="btn btn--header">pianos/ teclados</a>
        </li>
        <li class="item item--header">
            <a href="" class="btn btn--header">vientos </a>
        </li>
        <li class="item item--header">
            <a href="" class="btn btn--header">amplis/ accesorios/ electronicos</a>
        </li>
    </ul>

    <a href="#header" class="btn--cross">
        <i class="far fa-times-circle"></i>
    </a>
</nav>
