<header class="header">
    <div class="header__container">
        <a href="/" class="link">
            <img src="/img/logo_01 copy.svg" alt="" class="img__logo">
        </a>
        <div class="nav__container">
            <form class="header__form" action="">
                <div class="search-bar">
                    <input class="barra-busqueda" type="text" placeholder="buscá tú instrrumento...">
                    <button class="btn btn--search">
                        <i class="fas fa-search"></i>
                    </button>   
                </div>
                <div class="login">
                    <button class="btn btn--logeoRegistro">
                        logeate/registrate
                    </button>
                    <a href="" class="link">
                        <i class="far fa-envelope"></i>
                    </a>
                    <a href="" class="link">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </form>
            <nav class="nav-bar">
                <ul class="list list--header">
                    <li class="item item--header">
                        <a href="" class="btn btn--header">guitarras/ cuerdas</a>
                    </li>
                    <li class="item item--header">
                        <a href="" class="btn btn--header">baterias/ percusion</a>
                    </li>
                    <li class="item item--header">
                        <a href="" class="btn btn--header">pianos/ teclados</a>
                    </li>
                    <li class="item item--header">
                        <a href="" class="btn btn--header">vientos </a>
                    </li>
                    <li class="item item--header">
                        <a href="" class="btn btn--header">amplis/ accesorios/ electronicos</a>
                    </li>
                   
                </ul>
            </nav>
        </div>
    </div>
</header>