<section class="kits">
    <h2 class="kits--title">Kits para iniciados</h2>
    <!-- slider de instrumentos acá -->

    <div class="kits--slider">
      <div class="slide">
        <div class="article-container">
          <h2 class="article--title">guitarras</h2>
          <div class="article--icon">
            <img src="/img/icons/icon_sketch.svg" alt="">
          </div>
          <div class="article--card">
            <figure class="article--figure">
              <img src="/img/instrumentos/guitarras/guitar-electrica_01.png" alt="" class="article--img">
            </figure>
            <figcaption class="article--text">
              <div class="article--content">
                <h3 class="article--sub-title">marca:</h3>
                <p class="article--text">gibson</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">tipo:</h3>
                <p class="article--text">electrica</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">modelo:</h3>
                <p class="article--text">abc-123</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">valor:</h3>
                <p class="article--text">$20.000</p>
              </div>
            </figcaption>
            <a href="/detalle-del-producto" class="article--btn">+info!</a>
          </div>
        </div>
        <div class="article-container">
          <h2 class="article--title">guitarras</h2>
          <div class="article--icon">
            <img src="/img/icons/icon_sketch.svg" alt="">
          </div>
          <div class="article--card">
            <figure class="article--figure">
              <img src="/img/instrumentos/guitarras/guitar-acustica_00.png" alt="" class="article--img">
            </figure>
            <figcaption class="article--text">
              <div class="article--content">
                <h3 class="article--sub-title">marca:</h3>
                <p class="article--text">gibson</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">tipo:</h3>
                <p class="article--text">electrica</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">modelo:</h3>
                <p class="article--text">abc-123</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">valor:</h3>
                <p class="article--text">$20.000</p>
              </div>
            </figcaption>
            <a href="/detalle-del-producto" class="article--btn">+info!</a>
          </div>
        </div>
        <div class="article-container">
          <h2 class="article--title">guitarras</h2>
          <div class="article--icon">
            <img src="/img/icons/icon_sketch.svg" alt="">
          </div>
          <div class="article--card">
            <figure class="article--figure">
              <img src="/img/instrumentos/guitarras/guitar_01.png" alt="" class="article--img">
            </figure>
            <figcaption class="article--text">
              <div class="article--content">
                <h3 class="article--sub-title">marca:</h3>
                <p class="article--text">gibson</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">tipo:</h3>
                <p class="article--text">electrica</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">modelo:</h3>
                <p class="article--text">abc-123</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">valor:</h3>
                <p class="article--text">$20.000</p>
              </div>
            </figcaption>
            <a href="/detalle-del-producto" class="article--btn">+info!</a>
          </div>
        </div>
        <div class="article-container">
          <h2 class="article--title">guitarras</h2>
          <div class="article--icon">
            <img src="/img/icons/icon_sketch.svg" alt="">
          </div>
          <div class="article--card">
            <figure class="article--figure">
              <img src="/img/instrumentos/guitarras/guitar_01.png" alt="" class="article--img">
            </figure>
            <figcaption class="article--text">
              <div class="article--content">
                <h3 class="article--sub-title">marca:</h3>
                <p class="article--text">gibson</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">tipo:</h3>
                <p class="article--text">electrica</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">modelo:</h3>
                <p class="article--text">abc-123</p>
              </div>
              <div class="article--content">
                <h3 class="article--sub-title">valor:</h3>
                <p class="article--text">$20.000</p>
              </div>
            </figcaption>
            <a href="/detalle-del-producto" class="article--btn">+info!</a>
          </div>
        </div>

      </div>
    </div>

  </section>