.detalle-main{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image:var(--background);
    background-size: cover;
}

.detalle-product{

    background-repeat: no-repeat;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 8rem 0;
}

.detalle-product .title-main{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  
    display: inline-block;
    text-transform: capitalize;
    padding: 1rem;
   
    font-family: lobster;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--color-primary-yellow);
    background: linear-gradient( 260deg,
        var(--bg-color-orange),
        var(--bg-color-darkRed));
    width: 100vw;
    box-shadow: var(--primary-shadow-down);
}


.detalle-product .detalle-container{
    width:80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detalle-product .detalle-images{
    width: 100%;
    margin-bottom: 3rem;
}

.detalle-product .sub-title{
    font-family: lobster;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-primary-red);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: .5rem;
}

.detalle-product .img-container{
    width: 100%;
    height: 30rem;
    background-color: var(--color-primary-yellow);
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    padding: 2rem 1rem;
    border: solid .3rem var(--color-primary-darkRed);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalle-product .img-gallery{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.detalle-product .img-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    height: 8rem;
    background-color: var(--color-primary-yellow);
    border-radius: .5rem;
    padding: .5rem;
}

.detalle-product .img--detalle{
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.detalle-product .img-container,
.detalle-product .img-sub,
.detalle-product .detalle-datos{
    box-shadow: var(--primary-shadow-down);
}

.detalle-product .detalle-datos{
    width: 100%;
    background-color: var(--color-primary-yellow);
    border-radius: 1.5rem;
}

.detalle-product .detalle-title{
    width: 100%;
    background-image: linear-gradient(

        #4c0505 -50%,
        #c5704a 50%);
    font-family: lobster;
    font-size: 2rem;
    font-weight: 400;
    color: #f6eec9;
    padding: .8rem 1rem;
    text-transform: capitalize;
    border-radius: 1.5rem 1.5rem 0 0;

    
}

.detalle-product .detalle-title:not(:first-of-type){
    box-shadow: var(--primary-shadow-up);
}

.detalle-product .detalle-text{
    font-family: arimo;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color-primary-darkRed);
    padding: 2rem 1rem;
}

.detalle-product .detalle-text:not(:last-of-type){
    margin-bottom: 1.5rem;
}

.detalle-product .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
}

.detalle-product .btn--detalle{
    margin-top: 2rem;
    width: 100%;
    padding: .8rem 2rem;
    font-family: lobster;
    color: #f6eec9;
    font-size: 2rem;
    box-shadow: var(--primary-shadow-down);
    border-radius: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.detalle-product .btn--detalle:first-of-type{
    background-color: var(--color-primary-green);
}

.detalle-product .btn--detalle:last-child{
    background-color: var(--color-primary-orange);
}

@media screen and (min-width:768px){

    .detalle-product{
        padding: 7.5rem 0 14.5rem 0;
    }

    .detalle-product .detalle-container{
        flex-direction: column;
        justify-content: space-between;
        /* height: 95vh; */
    }

    .detalle-product .detalle-subContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .detalle-product .img-container{
        width: unset;
    }


    .detalle-product .detalle-images{
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: unset;
    }

    
    .detalle-product .detalle-datos{
        margin-top: 3.5rem;
        width: 40%;
        padding-bottom: 1rem;
    }

    .detalle-product .btn-container{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .detalle-product .btn--detalle{
        width: 49%;
    }

}

@media screen and (min-width:1024px){


    .detalle-product{
        padding: 25rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detalle-product .title-main{
        position: unset;
        width: 80vw;
        display: inline-block;
        margin-bottom: 3rem;
        border-radius: 1rem;
        padding: 2rem;
    }
    .detalle-product .sub-title{
        font-size: 2.5rem;
        font-weight: 600;
        text-align: left;
    }

    .detalle-product .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        
    }

    
    .detalle-product .img-sub{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
    }

    .detalle-product .btn-container{
        width: 40%;
        align-self: flex-end;
    }

    .detalle-product .btn--detalle{
        font-size: 1.8rem;
        transition: all .2s;
        width: 48%;
        padding: 1rem .5rem;
    }

    .detalle-product .btn--detalle:hover{
        transform: scale(1.1);
    }

    .detalle-product .btn--detalle:active{
        transform: scale(0.9);
    }

}