.slider--img {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
}


@media screen and (min-width: 768px){
	.conteinerSlider{
		height: 35rem;
		border: none;
}
}

@media screen and (min-width: 1200px) {
	
	.conteinerSlider{
			height: 45rem;
			border: none;
	}
	
}


