.cargaProductos{
	display: flex;
	width: 100vw;
	height: 100%;
	flex-direction: column;
	padding: 4rem 0 8rem 0;
	background-image:var(--background);
	align-items: center;
} 

.cargaProductos .cargaProductos-title{
	font-size: 2.8rem;
	font-family: lobster;
	text-transform: capitalize;
	margin-bottom: 3rem;
	color: var(--color-primary-red);
	font-weight: 400;
}

.cargaProductos .carga{
	padding: 2rem;
	background-color:  var(--color-primary-yellow);
	margin: 2rem auto 0 auto;
	width: 80vw;
	display: flex;
	flex-direction: column;
	border-radius: 2rem;
	font-size: 1.5rem;
    box-shadow: var(--primary-shadow-down);
}
.cargaProductos .log-row{	
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;	
}


.cargaProductos .kit--row{
	
	margin: 1.5rem 0 1rem 0;
	display:flex;
	align-items: center;
	justify-content: space-between;
	border-radius: .3rem;
	padding: .3rem 1rem;
	background-color: transparent;
	box-shadow: inset .3rem .3rem 1rem rgba(126, 126, 126, 0.4), inset -.3rem -.3rem 1rem rgba(126, 126, 126, 0.4);
}

.cargaProductos .kit--check{
	margin-left: 2rem;
}

.cargaProductos .desc-row{
	margin-bottom: unset;
}

.cargaProductos .description{
	padding: 1rem;
}

.cargaProductos .formSelect{
    border: none;
	border-radius: 1rem;
	padding: .3rem 1rem;
	background-color: transparent;
	opacity: .8;
	box-shadow: inset 0.3rem 0.3rem 1rem rgb(126 126 126 / 40%), inset -0.3rem -0.3rem 1rem rgb(126 126 126 / 40%);
}

.cargaProductos .btn--submit,
.cargaProductos .btn--productos{

	display: inline-block;
	text-transform: capitalize;
	border-radius: .3rem;
	padding: .3rem 0;
	text-align: center;
	font-family: lobster;
	font-size: 2rem;
	box-shadow: var(--primary-shadow-down);
	transition: all .2s;
	cursor: pointer;
}

.cargaProductos .btn--submit{
	background-color: var(--color-primary-darkRed);
	color: var(--color-primary-yellow);
	border: none;
	margin-top: 2rem;
	margin-bottom: 1.3rem;
}

.cargaProductos .btn--productos{
	background-color: var(--color-primary-green);
	color: var(--color-primary-yellow);
}


@media screen and (min-width:768px){
	.cargaProductos .desc-row{
		margin-bottom: 3rem;
	}
}


@media screen and (min-width: 1200px){
    .cargaProductos{
        padding: 20rem 0 25rem 0;
    }

	.cargaProductos .carga{
		position: relative;
		width: 60vw;
		flex-direction: row;
		justify-content: space-between;
		border-radius: 1rem;
		box-shadow: var(--primary-shadow-down);
		padding: 2rem;
	}
	
	.cargaProductos .cajaIzquierda,
	.cargaProductos .cajaDerecha{
		width: 48%;
	}
	
	.cargaProductos .cajaIzquierda ::after{
		content: "";
		display: block;
		width: .5rem;
		height: 85%;
		background-color: rgba(185, 185, 185, 0.1);
		position: absolute;
		top: 2rem;
		right: 49%;
		border-radius: .3rem;
	}

	.cargaProductos .desc-row{
		margin-bottom: unset;
	}

	.cargaProductos .btn--submit{
		cursor: pointer;
	}

	.cargaProductos .btn--submit:hover,
	.cargaProductos .btn--productos:hover{
		transform: scale(1.1);
	}

	.cargaProductos .btn--submit:active,
	.cargaProductos .btn--productos:active{
		transform: scale(.9);
	}
}