/* 

/////////////////////// INICIO CARRITO

*/
.carrito-mobile {
	display: block;
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	transform: translateX(100%);
	transition: all 0.2s;
	z-index: 20;
}

.carrito-mobile .back {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.carrito-mobile .carrito-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80vw;
	min-height: 50vh;
	height: 70vh;
}

.carrito-mobile .carrito-board{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.carrito-mobile .title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-image: linear-gradient(
		170deg,
		var(--color-primary-yellow),
		var(--color-primary-orange)
	);
	padding: .8rem 1.5rem;
	border-radius: 1.5rem 1.5rem 0 0;
	margin-top: -3rem;
}

.carrito-mobile{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	padding: .5rem;
	border-radius: 50%;
	color: var(--color-primary-yellow);
}

.carrito-link {
	width: 4rem;
	transition: all .2s;
}

.carrito-mobile .carrito-link:hover{
	text-decoration: none;
	color: var(--color-primary-yellow);
}

.carrito-mobile .carrito-title {
	color: var(--color-primary-darkRed);
	font-family: lobster;
	font-size: 2rem;
	font-weight: 400;
}

.carrito-mobile .carrito-content {
	width: 100%;
	height: 20rem;
	background-color: var(--color-primary-yellow);
	overflow-y: scroll;
	overflow-x: hidden;
}

.carrito-mobile .carrito--list {
	width: 100%;
	padding: 1rem 0 1rem 1rem;
}

.carrito-mobile .carrito-subTotal {
	width: 100%;
	background-image: linear-gradient(
		180deg,
		var(--color-primary-red),
		var(--color-primary-darkRed)
	);
	color: var(--color-primary-yellow);
	border-radius: 0 0 1.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	padding: 1rem 0 2rem 2rem;
	color: var(--color-primary-yellow);
	font-family: lobster;
}

.carrito-mobile .carrito-text,
.carrito-mobile .carrito-value {
	margin: unset;
	font-weight: unset;
	font-size: unset;
	display: inline-block;
	width: 100%;
}

.carrito-mobile .carrito-text {
	font-family: arimo;
	font-size: 1.8rem;
}

.carrito-mobile .carrito-value {
	font-size: 2.5rem;
}

.carrito-mobile .carrito--item:not(:last-of-type){
	margin-bottom: .5rem;
}


.carrito-mobile .carrito--item-title{
	display: inline-block;
	padding: 0.5rem 1rem;
	color: var(--color-primary-darkRed);
	font-size: 2rem;
	margin: unset;
	font-family: lobster;
	font-weight: 400;
	width: 100%;
	text-align:left;
	position: relative;
}

.carrito-mobile .carrito--item-title::before{
	content: "+";
	position: absolute;
	right: 1rem;
	display: block;
	font-size: 3rem;
	bottom: 50%;
	transform: translateY(50%);
	font-family: arimo;
	font-weight: 700;
}

#carrito:target {
	transform: translateX(0);
}


.carrito-mobile .carrito--row {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.carrito-mobile .carrito--row::before{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -.5rem;
	background-origin: 0;
	width: 40%;
	height: .4rem;
	background-color: var(--color-primary-darkRed);
}


.carrito-mobile .carrito-extended {
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: var(--bg-color-darkRed);
	display: flex;
	flex-direction: column;
	padding: 0;
	border-radius: 1rem 0 0 1rem;
	transition: all .2s;
}

.carrito-mobile .carrito-extended.active{
	height: 20rem;
}


.carrito-mobile .extended--img {

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	background-color: azure;
}

.carrito-mobile .img--carrito {
	width: 30%;
	object-fit: contain;
}


.carrito-mobile .carrito--description {
	font-family: arimo;
	width: 100%;
	background-color: var(--color-primary-darkRed);
	font-size: 2rem;
	margin: unset;
	font-weight: unset;
	font-size: unset;
	color: var(--color-primary-yellow);
	padding: 1rem;
	border-radius: 0 0 0 .5rem;
}

.carrito-mobile .btn--container{
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2rem;
	height: 11rem;
}

.carrito-mobile .btn--carrito{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: .5rem;
	font-size: 2rem;
	border-radius: 1rem;
	font-family: lobster;
	color: var(--color-primary-yellow);
	box-shadow: var(--primary-shadow-down);
}

.carrito-mobile .btn--carrito:hover{
	text-decoration: none;
}

.carrito-mobile .btn--carrito:nth-child(1){
	background-color: var(--color-primary-green);
	margin-bottom: 1rem;
}

.carrito-mobile .btn--carrito:nth-child(2){
	background-color: var(--color-primary-orange);
}


@media screen and (min-width: 768px){

	.carrito-mobile .carrito-board{
		height: 30rem;
	}

	.carrito-mobile .carrito-content{
		height: 15rem;
	}

	.carrito-mobile .btn--container{
		height: 8rem;
	}
}



@media screen and (min-width: 1200px){
	
	.carrito-mobile .carrito-container{
		position: relative;
	}

	.carrito-mobile .btn--container{
		position: absolute;
		bottom: 2rem;
		right: 1rem;
		margin-top: unset;
		width: 50%;
		flex-direction: row-reverse;
		justify-content: space-between;
		height: 5rem;
	}

	.carrito-mobile .carrito-title {
		font-size: 3.5rem;
	}

	.carrito-mobile .carrito-link{
		width: 6rem;
	}

	.carrito-mobile .btn--carrito{
		width: 48%;
		font-size: 2.5rem;
		transition: all .2s;
	}

	.carrito-mobile .btn--carrito:hover,
	.carrito-mobile .carrito-link:hover{
		transform: scale(1.1);
	}

	.carrito-mobile .btn--carrito:active,
	.carrito-mobile .carrito-link:active{
		transform: scale(0.9);
	}

	.carrito-mobile .carrito--item{
		display: flex;
		height: 3rem;
	}

}