/* 

/////////////////////// INICIO CARRITO

*/
.carrito-mobile {
	display: block;
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	transform: translateX(100%);
	transition: all 0.2s;
	z-index: 20;
}

.carrito-mobile .back {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2rem;
}

.carrito-mobile .carrito-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	display: flex;
	flex-direction: column;
	border-radius: 1.5rem;
	box-shadow: var(--primary-shadow-down);
	height: 35rem;
}

.carrito-mobile .title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-image: linear-gradient(
		250deg,
		var(--color-primary-red),
		var(--bg-color-orange)
	);
	padding: 0.5rem 1.5rem 0.5rem 1rem;
	border-radius: 1.5rem 1.5rem 0 0;
}

.carrito-mobile .carrito-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary-darkRed);
	font-size: 2rem;
	padding: .5rem;
	border-radius: 50%;
	color: var(--color-primary-yellow);
}

.carrito-mobile .carrito-link:hover{
	text-decoration: none;
	color: var(--color-primary-yellow);
}

.carrito-mobile .carrito-title {
	color: var(--color-primary-darkRed);
	font-family: lobster;
	font-size: 2rem;
	font-weight: 400;
}

.carrito-mobile .carrito-content {
	width: 100%;
	height: 100%;
	background-color: var(--color-primary-yellow);
	overflow-y: scroll;
	overflow-x: hidden;
}

.carrito-mobile .carrito--list {
	width: 100%;
	padding: 1rem 0 1rem 1rem;
}

.carrito-mobile .carrito-subTotal {
	width: 100%;
	background-image: linear-gradient(
		180deg,
		var(--color-primary-red),
		var(--color-primary-darkRed)
	);
	color: var(--color-primary-yellow);
	border-radius: 0 0 1.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	padding: 1rem 0 2rem 2rem;
	color: var(--color-primary-yellow);
	font-family: lobster;
}

.carrito-mobile .carrito-text,
.carrito-mobile .carrito-value {
	margin: unset;
	font-weight: unset;
	font-size: unset;
	display: inline-block;
	width: 100%;
}

.carrito-mobile .carrito-text {
	font-family: arimo;
	font-size: 1.8rem;
}

.carrito-mobile .carrito-value {
	font-size: 2.5rem;
}

.carrito-mobile .carrito--item:not(:last-of-type){
	margin-bottom: .5rem;
}


.carrito-mobile .carrito--item-title{
	display: inline-block;
	padding: 0.5rem 1rem;
	color: var(--color-primary-darkRed);
	font-size: 2rem;
	margin: unset;
	font-family: lobster;
	font-weight: 400;
	width: 100%;
	text-align:left;
	position: relative;
}

.carrito-mobile .carrito--item-title::before{
	content: "+";
	position: absolute;
	right: 1rem;
	display: block;
	font-size: 3rem;
	bottom: 50%;
	transform: translateY(50%);
	font-family: arimo;
	font-weight: 700;
}

#carrito:target {
	transform: translateX(0);
}


.carrito-mobile .carrito--row {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.carrito-mobile .carrito--row::before{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -.5rem;
	background-origin: 0;
	width: 40%;
	height: .4rem;
	background-color: var(--color-primary-darkRed);
}


.carrito-mobile .carrito-extended {
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: var(--bg-color-darkRed);
	display: flex;
	flex-direction: column;
	padding: 0;
	border-radius: 1rem 0 0 1rem;
	transition: all .2s;
}

.carrito-mobile .carrito-extended.active{
	height: 20rem;
}


.carrito-mobile .extended--img {

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	background-color: azure;
}

.carrito-mobile .img--carrito {
	width: 30%;
	object-fit: contain;
}


.carrito-mobile .carrito--description {
	font-family: arimo;
	width: 100%;
	background-color: var(--color-primary-darkRed);
	font-size: 2rem;
	margin: unset;
	font-weight: unset;
	font-size: unset;
	color: var(--color-primary-yellow);
	padding: 1rem;
	border-radius: 0 0 0 .5rem;
}

.carrito-mobile .btn--container{
	width: 80vw;
	height: 10rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	left: 50%;
	bottom: 50%;
	transform: translate(-55%, 370%);
}

.carrito-mobile .btn--carrito{
	text-align: center;
	padding: .5rem;
	font-size: 2rem;
	border-radius: 1rem;
	font-family: lobster;
	color: var(--color-primary-yellow);
	box-shadow: var(--primary-shadow-down);
}

.carrito-mobile .btn--carrito:hover{
	text-decoration: none;
}

.carrito-mobile .btn--carrito:nth-child(1){
	background-color: var(--color-primary-green);
}

.carrito-mobile .btn--carrito:nth-child(2){
	background-color: var(--color-primary-orange);
}


@media screen and (min-width: 768px){
    .carrito-mobile .carrito-extended {
		flex-direction: row;
	}

	.carrito-mobile .fa-sort-down {
		font-size: 4rem;
		margin-top: -1rem;
	}

	.carrito-mobile .btn--expand:after {
		width: 7rem;
		right: 2rem;
	}
    
	.carrito-mobile .btn--container{
		width: 70vw;
		transform: translate(-68%, 380%);
	}
}

@media screen and (min-width: 1200px){
	

	.carrito-mobile .carrito-mobile {
		z-index: 15;
	}

	.carrito-mobile .carrito-container {
		width: 70vw;
		transform: translate(-50%, -62%);
		height: 40rem;
	}

	.carrito-mobile .title-container {
		padding: 1rem 2rem 1rem 2rem;
		flex-direction: row-reverse;
	}

	.carrito-mobile .carrito-title{
		font-size: 3rem;
	}

	.carrito-mobile .carrito-link {
		font-size: 3rem;
		padding: 0.1rem 0.8rem;
		border-radius: 50%;
	}

	.carrito-mobile .carrito--item-title {
		display: inline-block;
		font-size: 2.5rem;
		color: var(--color-primary-yellow);
	}

	.carrito-mobile .carrito-content {
		width: 100%;
		background-color: var(--color-primary-yellow);
	}

	.carrito-mobile .carrito--item {
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
		flex-direction: row;
		justify-content: space-between;
	}

	.carrito-mobile .carrito--row {
		width: 40%;
		height: 5rem;
		align-items: center;
		background-color: rgba(220, 20, 60, 0.5);
	
	}

	.carrito-mobile .btn--expand {
		width: 10%;
		height: 4rem;
	}

	.carrito-mobile .btn--expand:after {
		right: 4.2rem;
		bottom: -0.9rem;
	}

	.carrito-mobile .btn--carrito {
		font-size: 2.5rem;
		transition: all .2s;
	}

	.carrito-mobile .btn--carrito:hover{
		transform: scale(1.1);
	}

	.carrito-mobile .btn--carrito:active{
		transform: scale(.9);
		opacity: .8;
	}

	.carrito-mobile .carrito-extended {
		width: 60%;/*  cambiar a 100% */
		flex-direction: row;
		border-radius: 0 0 0 1rem;
	
	}

	.carrito-mobile .extended--img {
		display: block; /* cambiar a block  */
		width: 100%; /* cambiar a 100%  */
		background-color: rgb(255, 255, 255);
		text-align: center;
		padding: 2rem 0;
	}

	.carrito-mobile .img--carrito {
		width: 100%;
		padding:1rem;
	}

	.carrito-mobile .extended--text {
		display: block;
		padding: 2rem;
	}
	.carrito-mobile .carrito--description {
		display: block;
		margin: unset;
		font-weight: unset;
		font-size: 2rem;
		color: var(--color-primary-yellow);
	}
	.carrito-mobile .btn--container{
		width: 35vw;
		height: 5rem;
		flex-direction: row;
		transform: translate(-95%, 660%);
	}

	.carrito-mobile .btn--carrito{
		padding: .5rem 1rem;
	}

}