@media screen and (min-width:1024px){
    .editUser{
        padding: 20rem;
    }

    .editUser .editUser--carga{
        width: 40vw;
    }

    .editUser .editUser--container{
        width: 100%;
    }
}